[2015-03-09 19:27] ethanwhite opened #2 "Switch to using data from Portal Project Teaching Database"
We've recently cleaned up the data for this lesson further and posted it on figshare. The lesson should be converted to using the figshare data, which involves:

- [x] Changing links
- [x] Changing the column names that have been modified
- [x] Changing any reference to species code `NA` to refer to `NL` since `NA` as replaced with `NL`

[2015-03-10 22:55] ethanwhite opened #5 "Add more introduction to SQLite manager"
Add some introduction to the buttons, tabs, and navigation in SQLite manager early in the lesson. This is something that has proved confusing for students in the past.

[2015-03-28 17:16] hlapp opened #11 "Contributing guidelines need fixes reflecting split-out lessons"
* Repo to submit pull requests to is no longer the datacarpentry repo.
* Lessons are no longer in subdirectories:

[2015-03-28 20:38] ethanwhite commented on #5
Added in 1cc12032e7ea26da51510693ec441d208a881469.

[2015-03-28 20:38] #5 closed

[2015-03-28 20:39] ethanwhite commented on #2
Fixed in #10.

[2015-03-28 20:39] #2 closed

[2015-03-31 03:59] #11 closed

[2015-03-31 20:18] lwasser opened #15 "Do you want gh-pages for this repo?"
Hi Ethan / Tracy,
I'm working on the next DC workshop and have created a gh-pages for the python lessons.

http://lwasser.github.io/python-ecology/

I plan to PR against the main DC repo when we are done. Do you want a gh-pages for SQL and shell as well so you can link to lessons like SWC does? i'm going through these now for our workshop and can edit as needed as i go.
Leah

[2015-03-31 20:28] ethanwhite commented on #15
Hi @lwasser - good question. I think this should actually be a topic of broader discussion using the Discuss list - i.e., how do we want to make this content available to students and how will that work with material development. The last time the steering committee chatted about this I think we decided just to wait on making technical decision and focus on getting material developed. I think that

[2015-03-31 20:40] lwasser commented on #15
@ethanwhite sounds good! i just sent out a note to the group. Thanks for the feedback!!!

[2015-03-31 20:51] ethanwhite commented on #15
My pleasure. Closing this in favor of the broader conversation.

[2015-03-31 20:51] #15 closed

[2015-04-12 22:42] lwasser opened #17 "Question about teaching SQL lite"
Hey Ethan, et al. I am working through the install instructions for SQL lite.

The lesson, as written instructs students to install SQL as a plugin for firefox. I went through that and it is fairly straight forward. However the SWC setup instructions suggest that Sql comes installed with OSX natively but there is a windows installer.

http://ouinformatics.github.io/2015-04-15-ncar/  <see instructi

[2015-04-13 18:50] ethanwhite commented on #17
I always teach SQLite using the Firefox plugin as do many SWC instructors. It's the easiest free option I've come across. The SWC setup instructions mentioning that SQLite is included with some operating systems is referring to `sqlite3`, which is a command line utility. In my opinion it is a very difficult interface for novices, especially since Data Carpentry will not be spending a lot of time i

[2015-04-13 22:49] lwasser commented on #17
Thank you, Ethan. That is very helpful. Firefox plugin it is.

[2015-04-13 22:49] #17 closed

[2015-04-14 17:20] emhart opened #20 "Update CONTRIBUTING to point to gh-pages branch"
In the CONTRIBUTING.md (https://github.com/datacarpentry/sql-ecology/blame/gh-pages/CONTRIBUTING.md#L31) step 5 says to issue PR to the `master` branch.  However when I look at the repo I see only `gh-pages`.  Should the CONTRIBUTING file be updated?

[2015-04-14 19:59] lwasser commented on #20
I'll let @ethanwhite answer as well as he's seems to maintain this repo BUT it was decided recently to make all DC repos gh-pages only. @fmichonneau  just went through and converted them all.
More here:
https://github.com/datacarpentry/lesson-template/issues/1

[2015-04-14 21:26] ethanwhite commented on #20
Yes, the CONTRIBUTING file should be updated and PRs should be against `gh-pages`. Thanks!

[2015-05-07 21:03] lwasser opened #22 "Please add a section of aliases to the SQL lessons"
This is just a reminder to do so.
Cheers!

[2015-05-08 20:48] ethanwhite commented on #20
Fixed in 6a0ea1ebe5b94e78e53c964f881590ae75c670a6. Thanks @emhart!

[2015-05-08 20:48] #20 closed

[2015-05-09 02:40] #22 closed

[2015-06-25 14:28] apawlik opened #28 "Split material into lessons?"
Currently all material is on one file. Most modules are split into smaller chunks - each one is a separate lesson. It may be good to do the same with SQL (?). This should also be combined with adding more examples and some more material / revising wording to expand the lessons.

[2015-06-25 14:33] ethanwhite commented on #28
No objections here.

[2015-06-25 18:16] tracykteal commented on #28
Yes, good idea to put it into modules.

[2015-06-25 18:17] tracykteal commented on #28
It can follow the standard format of 00-intro.md and then the following sections where there's a concept and then exercises on that concept in each module.

[2015-08-07 23:18] tracykteal opened #32 "software we use to teach SQL"
We currently have people install the Firefox plugin to use SQL. It's nice because it tends to work under all OSes, but there are some challenges because people can't save commands, they don't quite understand how they'll use it after a workshop, and because you can't zoom, when you teach the font is tiny and hard to read on the screen.

An alternative when we're teaching R already is to instead us

[2015-08-07 23:31] ethanwhite commented on #32
Commands can be saved using Views, which is the standard way to save queries in SQL. Someone typically asks about this in the first hour and I show them, but if it isn't in the notes it should be.

The way to do fix this is to open the SQLite Manager, click on the Settings button, and chose `Start SQLite Manager in a new tab`. You can then use `Ctrl-+` to zoom just like any other web page.

These

[2015-08-08 13:41] hlapp commented on #32
I'd have to agree. Also, with SQL being s good data management practice we teach, I'd find it unfortunate if by combining it with R from the beginning, we end conveying the notion that you can use SQL and databases only from within a programming language.

[2015-08-08 15:09] lwasser commented on #32
just a note about this. i have taught SQL a few times now and i prefer to BEGIN to teach DB basics using a DB tool I understand why we use SQLite but i don't think it's the best applied tool to teach ecologists. But it is simple and good to teach principles. And generally i do show views. Views are a nice precusor to stored procedures and other things you might tap into in a true DB environment. W

[2015-08-19 04:28] tracykteal commented on #32
I agree that it is really nice to teach SQL in the Firefox SQLite Manager. But I do think we're missing that step for how people use it in their real work flow. Should they import their CSV files in to SQLite and do their database work there? Should they install Postgres or MySQL and do things at the command line? The 'what to do next' might be very intuitive for people who use SQL a lot, but for

[2015-08-19 06:31] tracykteal opened #35 "Handling NULL values in SQL"
The dataset we use has a lot of empty cells, so the issue of how to handle missing data often comes up. Can we add a section on handling missing data, like with IS NULL and IS NOT NULL?

[2015-08-19 06:47] tracykteal opened #36 "More detail on section about Views"
@ethanwhite mentioned that Views are the standard way to save queries. This, along with how to export csv files of the data from a query are already mentioned in the current lesson.

Could we add some more detail to the Views section though, to explain what a view is, how to create it and how to use it again later? Something like 'the anatomy of a view'? I think both instructors and learners would

[2015-08-19 06:52] tracykteal opened #37 "Add info on ability to change data type within SQLite after data is imported"
At the beginning we have people import the data from csv as an exercise. There's a step on import where you have to select the data type for the field. Some people select the wrong type or nothing at all and wonder what they can do to change it.

If you right click or Control click on the column name in the Structure tab, then there's an Edit Column option and you can type in a new data type. When

[2015-08-19 06:55] tracykteal opened #38 "potentially change structure of JOIN statement"
Our current JOIN statement is

SELECT *
FROM surveys
JOIN species ON surveys.species_id = species.species_id

When I restructured it as

SELECT *
FROM surveys JOIN species
ON surveys.species_id = species.species_id

participants suggested it made more sense to see on the same line the two tables that were being joined. I don't know if this conforms to standard formatting or if it would help beyond

[2015-08-19 06:56] tracykteal commented on #38
I'm generally happy to work on any of these issues I just put in. I just want to wait until the merge of the split out lesson with the proper templates before making new PRs.

[2015-08-19 10:01] waveform80 commented on #37
I'm surprised it warns about this. I thought the column types in that engine were merely used to hint at the conversions to be used when querying, but otherwise were [basically ignored](http://www.sqlite.org/datatype3.html)? Still, it's probably good that the warning is there given it's most certainly dangerous in the general case (i.e. in other engines).

[2015-08-19 12:42] hlapp commented on #37
I'm all for teaching quick solutions to problems students encounter, but doing it this way is completely non-portable, and so now we're moving from using SQLite in Firefox as a teaching tool to teaching it as a tool that people would commonly carry forward using in their daily lives.

[2015-08-19 12:47] hlapp commented on #38
Line breaks are ignored in SQL so technically it doesn't matter on which line the JOIN is. I suspect it was on its own line as a remnant from having multiple JOINs, which, however, in reality is the much more common case. But I can see how in the case of a single JOIN it's more intuitive to visually "bind" it to the first FROM table.

[2015-08-19 12:58] waveform80 commented on #37
I could add a section on using `ALTER TABLE`, but to be frank almost nothing about DDL is perfectly portable (especially given that the major engines can't even agree on something as simple as `VARCHAR` or `TIMESTAMP`) so if you get a data-type wrong the best advice is probably either 1) drop that table and start over, or 2) get out the manual and figure out if/how you can fix it in your particula

[2015-08-19 16:33] apawlik commented on #32
I take all your points. However, I would still stay with teaching SQL with the Firefox plugin. My experience from the workshops for audiences who have no or very little programming experience was that they welcomed this module with relief. R is an extremely steep learning curve for them. They interface of the plugin is friendly and looks like Excel which makes them feel comfortable yet they see th

[2015-08-19 16:50] lwasser commented on #32
These are all great points. postgres is the tool i'd recommend people really using in a workflow as it's much more robust. BUT sqlite is simple as pointed out. i can't imagine teaching postgres in an hour or two. it would be a few day endeavor or atleast a solid day. And the setup is also more complicated.

To make the connection in terms of workflow - what if we gave folks the code to connect to

[2015-08-20 01:19] ethanwhite commented on #37
I suggest that we add this quick save trick as a tip in the, currently non-existent, instructors notes, so that instructors/helpers know how to quickly solve this issue to get students going again during the workshop. That way we don't teach it (given all of the complexities mentioned above), but folks running the workshop know about it when they need it.

[2015-08-20 10:09] waveform80 commented on #32
@lwasser Postgres is certainly more robust in terms of enforcing data-types (as almost every other engine is) but that can prove a hindrance when people deal with "messy" or just badly curated data. For example, CSV files (produced by certain spreadsheets) where strings appear as numbers (or vice versa). SQLite with its "type values not columns" philosophy deals quite easily with this, allowing th

[2015-08-20 12:31] apawlik commented on #37
I agree on adding tips for instructors. At the moment I added them to the index.md (on how to zoom). I suggest maybe a separate file but link it at the index.md Otherwise, I fear, instructors are likely to miss that.

[2015-08-20 21:42] tracykteal commented on #37
Adding instructor notes and then adding this information to those notes sounds like the best plan. I'll work on that.

[2015-08-20 21:46] tracykteal commented on #37
Also to @waveform80 and @hlapp about using SQLite, it is a part of a discussion in https://github.com/datacarpentry/sql-ecology/issues/32

[2015-08-20 22:04] tracykteal opened #45 "Potentially add a module on 'Using SQL with your own data'"
This module would be the last one and would discuss how to use SQL with your own data. It could

- Emphasize that SQLite is fine for their own work
- Give an overview of what they would do, i.e. import your own CSV files like we did here
- List the potential limitations of SQLite
- List other database types and some of their strengths/weaknesses (not overwhelmingly technical, more just like "handl

[2015-08-20 22:05] tracykteal commented on #32
With @ethanwhite tips on how to better use it as a teaching tool, SQLite does seem to be best for install/teaching. I think the missing lesson is 1) emphasizing that this can be used for their own work (just import in their own csv files) 2) what the potential limitations might be 3) what other database options might be and some of their strengths/weaknesses. I get asked these things almost every

[2015-08-21 13:44] ethanwhite commented on #32
Agreed. Thanks for starting a really important discussion @tracykteal.

Closing. For further discussion see #36 and #45.

[2015-08-21 13:45] #32 closed

[2015-08-21 14:09] ethanwhite commented on #38
A little looking around suggests that your version is certainly in the realm of standard structure and I can see how it would be easier to learn, so let's go for it. I'll submit a PR in a second.

[2015-08-21 23:23] #38 closed

[2015-08-21 23:39] tracykteal opened #47 "Add 'instructors-notes' to this repo"
Add instructors notes to this lesson to describe how to use the lesson and issues that will potentially come up, like https://github.com/datacarpentry/sql-ecology/issues/37

[2015-08-25 15:00] tracykteal opened #49 "On data import data emphasize types for the fields"
Feedback from a workshop. When learners import data, we do have in step 10 the data types that are supposed to be used, but it's easy to miss, so maybe we could restructure that a little.

Also, for the import exercise, we don't tell students what the data types should be.

[2015-08-28 18:42] tracykteal opened #50 "Add comment to instructor notes referring back to messy spreadsheet"
To create the link between the importance of structured data and being able to use SQL, add to the instructors notes that this link should be pointed out.

e.g. "Remember that messy spreadsheet? What would have happened if we tried to load that in to SQL?"

Linked to https://github.com/datacarpentry/spreadsheet-ecology-lesson/issues/6

[2015-08-28 18:43] ethanwhite commented on #50
This is an awesome idea!

[2015-09-01 12:41] ethanwhite commented on #36
This information should replace the current information on `Saving a Query`. I'm not actually sure when that current information got included, but it seems very specific to SQLite as opposed to Views which are a standard way to do this.

If anyone has any objections to making this change please let us know.

[2015-09-01 12:49] ethanwhite commented on #28
Closed by #34.

[2015-09-01 12:49] #28 closed

[2015-09-01 12:52] ethanwhite opened #51 "Improve one clause per line code block and discussion"
There are currently two versions of the same SQL statement. The idea is to demonstrate that a better way of writing longer queries is one clause per line, but this isn't discussed in the notes. The code block should be split into two separate code blocks and language about the one clause per line approach added.

[2015-09-01 12:59] ethanwhite opened #52 "Add discussion of only including grouped or aggregated fields in SELECT"
In queries with GROUP BY it is important to only include grouped or aggregated fields in the select statements. Otherwise results are typically not what the user expects. This should be discussed in 02.

[2015-09-01 13:01] ethanwhite opened #53 "Add discussion of HAVING"
I always end up discussing this because someone always asked about it. It should be included as part of the notes, probably at the end of 02.

[2015-09-03 10:19] apawlik commented on #49
+1 to adding notes on this in the materials and notes on how to change this once the DB is ready, and what impact that may have on the DB as well as on queries (for example ....WHERE year="1999"... vs WHERE year=1999....)

[2015-09-03 15:29] apawlik opened #54 "Update the links to the new release of Portal project Teaching Database"
Update the links to the new release of Portal project Teaching Database
[1] http://figshare.com/articles/Portal_Project_Teaching_Database/1314459
[2] https://github.com/weecology/portal-teachingdb

[2015-09-04 17:09] ethanwhite opened #55 "Add notes on comments"
* Why comments are important
* What the comment character is in SQL (`--`)

[2016-01-05 22:27] tracykteal opened #63 "add diagrams for SQL statements"
It could be useful to add diagrams for WHERE and JOIN statements.

For WHERE we can have boxes that show the selection of subsets of the data.

For JOIN there are good figures available with Venn diagrams, although they include more information, such as with INNER and OUTER joins, e.g.

http://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins

[2016-03-03 20:00] tpoisot commented on #45
Could some it be done as a capstone on "From Excel to SQL"? I'll have to write that (tentatively) for a course I'm giving.

[2016-03-04 13:56] ethanwhite commented on #45
:+1: @tpoisot if your doing this anyway and would like to contribute it I think that would be awesome!

[2016-03-04 19:55] tpoisot commented on #45
Right, I'll do, but it might take a while. *I.e.* until I start preparing this class of mine.

[2016-03-05 15:19] tpoisot opened #71 "Markdown headers"
Is there a rationale for the markdown headers? It seems to be a mix of `#` and `-`, and I'm just a little bit obsessive about these things.

Should we decide on a standard, or is there one in place that is convoluted to the point of eluding me?

[2016-03-05 15:19] tpoisot commented on #36
Working on it at the moment. I'll submit a PR when I'm done with a draft.

[2016-03-05 15:41] fmichonneau commented on #71
Use # wherever you make edits. The - are mostly legacy. This style should
already be included in the CONTRIBUTING.
On Mar 5, 2016 10:19, "Timothée Poisot" <notifications@github.com> wrote:

[2016-03-05 16:13] tpoisot commented on #71
Got it.

[2016-03-05 16:13] #71 closed

[2016-03-06 01:13] tpoisot commented on #55
Should we close this?

[2016-03-06 01:16] tpoisot commented on #53
:+1: (and I agree it can be at the end of 02). Happy to get started on that once the VIEW PR is complete.

[2016-03-06 01:17] tpoisot commented on #52
Should we add a section with potential gotchas? This is a good example, as is the `WHERE` / `HAVING` distinction.

[2016-03-06 18:21] ethanwhite commented on #55
Closed by #70. Thanks again @tpoisot!

[2016-03-06 18:21] #55 closed

[2016-03-06 18:28] ethanwhite commented on #52
When I teach this I demo what goes wrong if you don't do it; so I show them the gotcha component, but I do it as part of teaching that section, not as a separate section. This also tends to keep it brief because it can be added on as a 60 second section after the last exercise: "One important thing to remember when you're using GROUP BY is..."

So, my initial inclination is to just include it at t

[2016-03-06 18:28] ethanwhite commented on #53
That would be great!

[2016-03-06 19:40] waveform80 commented on #52
Might be worth pointing out that MySQL and SQLite (the latter largely for compatibility with the former) are both overly lax in this regard, and that almost every other engine (including PostgreSQL), will simply throw an error if non-aggregated clauses containing un-grouped columns (with no functional dependency on the grouped key, if one wants to be really strict) appear in the SELECT clause.

Th

[2016-03-06 19:55] ethanwhite commented on #52
I understand the desire to add the 2nd part, but it feels like starting to bloat the lesson. Every little extra tidbit we give folks is potentially one less important thing they end up remembering. It also risks confusion about SQL being (basically) a standard vs. a bunch of different languages (MySQL, PostgreSQL, SQLite), which is a common point of confusion with our learners.

In this case the a

[2016-03-06 22:41] waveform80 commented on #52
Fair enough - there's definitely something to be said for keeping lessons simple.

(personally I always refer to SQL as a "standard", with emphasized quotation marks ;)

[2016-03-09 16:19] tpoisot opened #75 "Add a list of functions"
In `01-...`, the "Calculated values" header mentions functions. Maybe a table would be nice.

[2016-03-09 16:55] tpoisot commented on #63
![joins svg](https://cloud.githubusercontent.com/assets/579329/13643194/b25e7e4c-e5ed-11e5-800b-ce02a94da542.png)

I have a this as a svg:

[code]

[2016-03-09 19:45] tpoisot commented on #51
I might have removed this in one of the PR. I'll add a note somewhere saying that queries can be on a single line, but are easier to read / edit if they are split.

[2016-03-09 20:28] waveform80 commented on #75
Good idea! Some functions common to all databases (that I'm aware of), which are probably worth including:

* ABS
* COALESCE (sometimes aliased to NVL, IFNULL, or VALUE but COALESCE is the standard name, supported by all engines)
* LENGTH
* LOWER
* NULLIF
* ROUND
* TRIM (most engines also support LTRIM and RTRIM)
* UPPER

Some functions which appear in every engine but have minor variations

* GRE

[2016-03-09 20:50] tpoisot commented on #75
As my first action as the maintainer of this lesson, I thereby assign ­you @waveform80 to this issue.

You can probably wait until #76 is merged, though.

I think once we have the basis covered, we can re-open an issue to discuss time/date. This is important for 99% of ecological data, so we should probably discuss the best strategy to mention it in the lessons.

[2016-03-09 23:19] #36 closed

[2016-03-10 16:46] #53 closed

[2016-03-11 08:31] waveform80 commented on #75
Sounds good to me :) I'll see what I can get done at the weekend (no worries about waiting on other commits - I can always rebase on master to keep the PR simple and merge-able).

[2016-03-11 15:09] #54 closed

[2016-03-11 15:09] #51 closed

[2016-03-11 15:10] tpoisot commented on #35
It looks like the firefox extension puts empty fields, instead of `NULL`, when importing. I'll look into it.

[2016-03-15 15:15] tpoisot opened #79 "kramdown rendering"
Is it safe to just remove `markdown` from the `_config.yml` in anticipation for the May 1st deprecation of `redcarpet` in profit of `kramdown`?

Pinging @datacarpentry/coordinators and @datacarpentry/maintainers too, maybe this is being discussed in issues on another repo.

[2016-03-15 15:37] fmichonneau commented on #79
I believe it's safe in general and especially for the SQL lesson as there
is no highlighting.
On Mar 15, 2016 11:15, "Timothée Poisot" <notifications@github.com> wrote:

[2016-03-16 01:53] tracykteal commented on #79
Yes, please do. We need to roll out that change on all of the lessons and confirm that things will still work fine.

[2016-03-17 01:03] sschmeier opened #81 "Improvements to the JOINS section"
1.
I think it would be a good idea to start the "Joins and aliases" section with an example of what happens if we do a JOIN but do not use an ON, as this is not a necessity. Basically explaining that this will lead to a joining of all rows of one table to all rows of the other table. Then explaining why we don't want this, e.g. big tables=lots of calculations = lots of time, finally explaining tha

[2016-03-17 13:46] tpoisot commented on #79
Allright, chaning now.

Closes #79 .

[2016-03-17 13:46] #79 closed

[2016-03-17 13:51] tpoisot commented on #81
**1** - I don't think it's wise to spend time saying "Hey, so we can do so and so", to basically conclude with "By the way, this is not what we want at all". I would indicate in a single sentence that `ON` is not a necessity but results in gigantic tables, so we use it. And I also don't think we have to do in the details of *why* it works. @orchid00 , your input?

On the other hand, yes, the part

[2016-03-17 14:11] orchid00 commented on #81
Thanks @tpoisot and @sschmeier, I agree with you both about starting JOIN with a simple example (without filtering aka using ON). When I taught this part in SC, I made clear: JOIN creates the cross product of two tables and give and example (with two small tables) that joins combines each record of one table with each record of the other table, to give all possible combinations. But because this i

[2016-03-17 14:34] tpoisot commented on #81
@orchid00 -- yes. I think your reply is a good game plan about what to put in a PR.

[2016-03-17 14:37] waveform80 commented on #81
As the resident pedant, I'd also add that the condition is not optional (and this is implemented in several engines including postgres); in the standard ON or USING are mandatory in INNER and OUTER JOIN, while no condition can be specified for CROSS or NATURAL JOIN.

However, I take the point that without a condition there's no reason a join shouldn't represent a cartesian product (the standard pr

[2016-03-31 11:12] waveform80 commented on #75
Finally got around to making a PR for this (#82). Some observations / questions:

* I've tried to keep it relatively short (similar length to other sections) - too short? Too long?

* Is it in the right place? I've added it straight after joins given the pertinence of COALESCE to this facility (I've not detailed COALESCE's role in OUTER JOINs as those aren't covered in the lesson). Should it be in

[2016-03-31 16:29] waveform80 commented on #35
Hmm, just had a go importing [`surveys.csv`](https://figshare.com/articles/Portal_Project_Teaching_Database/1314459) into the `surveys` table after emptying it (with `DELETE FROM surveys`), using the firefox extension. Seems to insert NULLs for me:

[code]

The query above yields 763 as the result after the import (which is what was in the original database). For reference I'm using SQLite manager

[2016-04-01 17:16] jsta opened #84 "From legacy Access to SQLite"
In #45, @tpoisot suggests the idea of a "From Excel to SQL" capstone module.  A related idea might be best practices for going "From legacy Access to SQLite". Is this beyond the scope of this lesson or does this sort of thing already exist elsewhere?

[2016-04-04 02:05] orchid00 commented on #84
This might be out of the scope. But just of curiosity do you already have a module which will be easily implemented?

[2016-04-05 12:19] jsta commented on #84
I totally understand. I have no module but I am currently using [mdb-tools](https://github.com/brianb/mdbtools) for this purpose. I wonder if a note about Access is warranted. Maybe in the lesson into?

[2016-04-05 17:49] tpoisot commented on #84
We could *maybe* have diff. capstones with conversion. @tracykteal ?

I know several people that use Access, so it would probably help them.

[2016-04-08 18:57] tpoisot opened #85 "Improve challenge?"
@fmichonneau -- you are the last one to edit this challenge

https://github.com/datacarpentry/sql-ecology-lesson/blame/gh-pages/02-sql-aggregation.md#L35

What is the solution supposed to be?

[2016-04-08 21:04] waveform80 commented on #85
I'm afraid @fmichonneau only added an "a" to that particular challenge in commit 940a4bd0576c6104a58235212f7dd5b4428a2ad7 - it looks like @apawlik is the originator of the challenge.

 I'd suggest the solution to the first part is simply:

[code]

The second part is harder and to be honest I'm not sure how I'd solve it given only the elements taught in the lesson to that point. How I'd solve it gi

[2016-04-08 21:49] fmichonneau commented on #85
Hi @tpoisot

I can confirm that I didn't create this challenge :)

When I taught this, I understood this challenge simply as something like:

[code]

[2016-04-11 15:23] kcranston commented on #37
I've added [instructor notes](https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/instructor-notes.md) and included this tip about dealing with students that select the wrong data type.

[2016-04-11 15:23] #37 closed

[2016-04-11 15:24] kcranston commented on #47
We now have [instructor notes](https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/instructor-notes.md).

[2016-04-11 15:24] #47 closed

[2016-04-11 15:28] kcranston commented on #50
[Done](https://github.com/datacarpentry/sql-ecology-lesson/commit/beb89b596df2ba56e79b4be23e13a5c0dcfa9753).

[2016-04-11 15:28] #50 closed

[2016-04-11 18:49] kcranston opened #86 "committing directly to gh-pages, oops"
In preparation for a workshop at [UNC](http://kcranston.github.io/2016-04-11-UNC/), I made several commits directly to gh-pages (checked with @ethanwhite who said "go ahead!' and then, "oops! I am no longer the maintainer). Note that none of them affect the lesson directly, only adding / editing instructor notes and also the lesson documentation (specifically, updating the maintainers)

Let me kno

[2016-04-11 21:45] tpoisot commented on #85
Allright, so I'll suggest an edit to make it clearer.

[2016-04-11 21:47] #85 closed

[2016-04-12 05:31] orchid00 commented on #86
I've checked your changes and I think it's all good, plus you closed some issues which is good too. I just added a new comment on one of the pages "add tip about wrong data type".

[2016-04-12 05:34] orchid00 commented on #81
So, after @waveform80 thoughtful conclusions, can we close this issue? @tpoisot

[2016-04-12 13:49] tpoisot commented on #81
Yes. Closes #81

[2016-04-12 13:49] #81 closed

[2016-04-12 13:50] tpoisot commented on #86
I second @orchid00 -- thanks for the changes @kcranston !

[2016-04-12 13:50] #86 closed

[2016-05-04 17:07] jsta opened #88 "Numeric `IN` queries"
I was working through the `Basic queries` lesson and I got stuck for a moment when trying to use numeric arguments to the `IN` keyword. Up until this point all the numeric queries are unquoted. However, I believe they need to be quoted when used with `IN`. Submitting a PR shortly with an example query.

[2016-05-04 20:53] waveform80 commented on #88
Sorry - numeric queries definitely don't require quotes. It probably won't harm in SQLite (which treats more or less everything as a string) but it'd fail completely in any other engine. For that matter, it'd also fail in SQLite under certain circumstances (leading zeros, other extraneous formatting, etc). Whatever issue you had with the numeric arguments to IN is something other than missing quot

[2016-05-04 21:37] jsta commented on #88
No worries. My mistake. It was a misspecified data type (numeric classified as text). Hopefully the closed issue will alert others.

[2016-05-04 21:37] #88 closed

[2016-05-09 14:34] njamescouk opened #90 "data for this lesson"
I got lost at "Let’s all open the database we downloaded in SQLite Manager by clicking on the open file icon." in http://www.datacarpentry.org/sql-ecology-lesson/00-sql-introduction.html

There's a reference in http://www.datacarpentry.org/sql-ecology-lesson/ to data files on figshare, I had a look but couldn't see anything.

In the Import section the figshare link to 3 csv files gives a 404.

[2016-05-10 00:14] orchid00 commented on #90
I'm not sure what the problem is but the link for the files is this: https://figshare.com/articles/Portal_Project_Teaching_Database/1314459. If you wait a little bit (a few seconds in my case) you can see at the top all the files, there you will find .csv files and .sqlite. Are you able to check again? If you tell me where will be best to put up the link I can modify the intro page.

[2016-05-11 08:07] njamescouk commented on #90
tried the link in the introduction again and it does work. I didn't wait long enough, started reading the text expecting a download link at end of page when it was probably sitting at the top of the page.

I still find the "open the database" wording difficult. perhaps in a class that would work, but I'd expect a preamble along the lines of use sqlite manager to download database d from URL u.

I

[2016-05-11 08:07] #90 closed

[2016-05-29 18:36] #75 closed

[2016-06-12 22:41] tpoisot commented on #35
Referenced in https://github.com/swcarpentry/sql-novice-survey/issues/135 too.

[2016-06-13 09:49] waveform80 commented on #35
swcarpentry/sql-novice-survey#135 seems to be dealing with the results of the `.import` command which does import empty fields as blank strings (as the explanation in the [linked thread](http://sqlite.1065341.n5.nabble.com/import-null-values-td3405.html) details, `.import` binds everything as a text value and leaves it to the SQL layer to deal with data-type conversions). So the only method of get

[2016-06-29 15:55] ErinBecker opened #96 "Species not a variable - use species_id"
Received via email:

FYI: In the section below, there is a typo. In the CHALLENGE, you are asked to query species. There is no species in the surveys table. You must use species_id.

Sorting
We can also sort the results of our queries by using ORDER BY. For simplicity, let’s go back to the species table and alphabetize it by taxa.

SELECT *
FROM species
ORDER BY taxa ASC;
The keyword ASC tells us

[2016-06-29 16:15] tpoisot commented on #96
Looks :+1:  Can you submit this as a PR?

[2016-06-29 16:48] ErinBecker commented on #96
@tpoisot I'm not a SQL user. If this is really just as simple as changing "species" to "species_id" every time it appears in the exercises, I can do this. Just no way for me to test (without actually learning SQL - which I should do eventually!), so a bit nervous about making changes myself.

[2016-06-29 18:09] tpoisot commented on #96
Right, so can you ask whoever sent that through email to submit as a PR? If not, I'll do it, but it's always better when there is a PR to accompany possible changes.

[2016-06-29 18:36] ErinBecker commented on #96
Agreed that having a PR would be ideal, but since we don't require DC community members to know Git, I'm going to say we go ahead and make the changes without asking this user to submit a PR. My general assumption is that someone submitting an issue by email like this likely isn't comfortable with Git, and we should accommodate that.

[2016-06-29 18:47] tpoisot commented on #96
Sure -- will get around to fix later.

[2016-06-30 15:10] tracykteal commented on #96
'species' is a table in this database. And in that table are the columns 'species' which is the full species name, and 'species_id' which is the ID of the species that is also used in the 'surveys' table.

So, this isn't a typo and the query works as it is.

It is confusing though about the 'species' table and then various column names that are the same or similar. We tried some clarification with

[2016-06-30 15:21] tracykteal commented on #96
PR https://github.com/datacarpentry/sql-ecology-lesson/pull/97

[2016-06-30 16:48] ethanwhite commented on #96
I think original comment is about the challenge, which does use `species` where it should use `species_id`.

[2016-06-30 18:35] tpoisot commented on #96
I merged the updated PR.

[2016-06-30 18:35] #96 closed

[2016-07-15 07:54] fanie-riekert commented on #49
I am willing to work on this issue as part of my instructor training contribution.

[2016-08-29 13:17] ethanwhite opened #102 "Current online lesson pages are broken"
The current lesson page for this repo linked from the main Data Carpentry site are displaying like this:

![screenshot from 2016-08-29 09 10 06](https://cloud.githubusercontent.com/assets/744427/18052552/ffb9f67c-6dc8-11e6-9442-d7e7add4df61.png)

When I build the pages locally using Jekyll they work, but are filled with FIXME's.

Looks like this has been down for at least 3 days. Cc'ing @gvwilson

[2016-08-29 13:28] ethanwhite commented on #102
If I'm reading everything right it looks like there's a lot of code that's been pushed directly into the `gh-pages` branch without local review, possibly based on Software Carpentry's templating system?

Students in my university course are supposed to be reading this material today so any help getting this straightened out quickly would be appreciated.

[2016-08-29 13:38] gvwilson commented on #102
On it.

[2016-08-29 14:14] tpoisot commented on #102
My bad -- should we write a PR template to remind contributors to test locally?

[2016-08-29 14:17] ethanwhite commented on #102
@tpoisot - are you intentionally moving over to SWC's template?

[2016-08-29 14:18] ethanwhite commented on #102
@tpoisot - never mind. Incoming from @gvwilson will explain what happened and propose a fix.

[2016-08-29 14:18] gvwilson commented on #102
This wasn't @tpoisot - this was me.  I updated to the new template to
show @tracykteal what it would look like, but that was only supposed to
show up in my repo, not this one.  If I reset to 8ed2ebb, everything
should go back to where it's supposed to be, and the later commits are
all related to the template change, so there's no loss in cutting them out.

[2016-08-29 14:19] ethanwhite commented on #102
:+1:

[2016-08-29 14:20] gvwilson commented on #102
"Cannot force-push to a protected branch."

[2016-08-29 14:22] gvwilson commented on #102
[code]

[2016-08-29 14:22] ethanwhite commented on #102
I have permissions to remove the protection (as do both of you probably) and am happy to do it if @tpoisot wants me to.

[2016-08-29 14:39] ethanwhite commented on #102
I have temporarily implemented @gvwilson's proposed fix in my fork and forwarded those links along to my class, so the rush on my end has been dealt with. Let me know if there's anything I can do to help get things fixed up more generally.

[2016-08-29 14:45] tpoisot commented on #102
Go ahead and force-push.

[2016-08-29 14:46] ethanwhite commented on #102
OK, I just unprotected the branch. @gvwilson - fire away.

[2016-08-29 14:49] gvwilson commented on #102
Thanks - pushed.  My apologies for the mistake.

[2016-08-29 14:53] ethanwhite commented on #102
Thanks. I've re-protected the branch and added a push access restriction so that only @tpoisot, @orchid00, and admins can push to `gh-pages` in the hopes of avoiding similar accidents in the future. Thanks for helping get this sorted out quickly @gvwilson.

[2016-08-29 22:28] orchid00 commented on #102
Sorry I missed all the fun, this happened while I was asleep (different time zones). Glad to hear it all worked out. @ethanwhite if your students are reading the material, maybe you could suggest them to point out typos or any misunderstanding :)

[2016-08-30 00:47] tpoisot commented on #102
@orchid00 great idea! Come on @ethanwhite , anyone that solves an issue gets extra credit.

[2016-08-30 00:47] #102 closed

[2016-08-30 01:17] ethanwhite commented on #102
I'll see what I can do.

[2016-08-30 01:28] tpoisot commented on #35
Thanks to @ChristinaLK PR we now have a section with NULL and NOT NULL.

The issue of firefox import still persisted as of last time I've tried, I will look for a workaround

[2016-08-30 01:36] tpoisot commented on #35
Working on two different laptops with different firefoxes. Closing.

[2016-08-30 01:36] #35 closed

[2016-10-29 15:49] brainwane opened #105 "SQL aggregation "Null values" section: code blocks not formatted as code"
In the "null values" section of [the SQL Aggregation episode/page](http://www.datacarpentry.org/sql-ecology-lesson/02-sql-aggregation.html), we see:

But if we try to be extra clever, and find the average ourselves, we might get tripped up:

SELECT SUM(weight), COUNT(), SUM(weight)/COUNT() FROM summer_2000 WHERE species_id == ‘PE’

and the `SELECT` statement isn't formatted as a code block. This i

[2016-10-29 16:07] brainwane opened #107 "Concept map for "what is a relational database""
This issue springs from discussion of pull request #99 in which @heereman wrote a definition of a relational database, and @orchid00 and I thought it might be a good idea to add a concept map to the instructor's notes for this lesson.

My question:

It seems to me like the concepts and linkages @heereman mentioned in their definition are most of the concepts and linkages that ought to go into the

[2016-10-29 22:13] orchid00 commented on #105
approved the changes adding indentation.

[2016-10-29 22:13] #105 closed

[2016-10-29 22:30] orchid00 commented on #107
Just confirm, this list is to make the concept map of database.
It al depends how deep you want to describe database.
Leaving out atomic, seems like a good idea.
Suggest adding:

- aggregation
- order

We can wait for @tpoisot feedback

[2016-10-30 01:47] tpoisot commented on #107
We should maybe add

* views
* sorting
* groups

since these are used in the lessons.

[2016-12-01 23:05] ErinBecker opened #108 "SQLite plugin install"
sqlSetup.html should include instructions for installing the SQLite plugin for Firefox.

[2016-12-01 23:06] ErinBecker commented on #108
Install instructions are in 00-sql-introduction.html, but unclear if participants will go to lesson page before workshop. More likely to only view workshop home page.

[2016-12-06 21:42] mshelley1 opened #110 "Add mention of different JOIN types"
In the lesson on joins, a brief mention of the existence of multiple types of join might be useful. If students try to apply JOIN to their own data and aren't aware that non-matching rows will be dropped, it could be frustrating. I would be happy to do a PR adding this caution to the end of "Joins" if desired.

[2016-12-18 23:25] orchid00 commented on #110
please add an short explanation about crossmatching, and possibly a bit on keys (primary  foreign)

[2016-12-18 23:30] orchid00 commented on #108
@ErinBecker maybe add a link to the first page? like here is how to install

[2017-01-04 19:42] kariljordan opened #116 "Which learning objectives should we assess?"
Greetings everyone,

I'd appreciate your feedback on my current project. We've successfully revised the learning objectives for all of the Ecology lessons to reflect what we are teaching, and now we are in the process of developing surveys to assess our learners (before and after the workshop) on their skills and self-efficacy for the tools they were taught.

Your feedback is extremely valuable. I

[2017-01-10 17:27] kariljordan commented on #116
Greetings,

Thank you for contributing to the conversation around Data Carpentry's Ecology lessons, and providing your availability for a meeting.

We will meet on Friday at 1pm EST via this BlueJeans link: https://bluejeans.com/124388012.

The purpose of this meeting is to discuss the learning objectives for the Ecology lessons, and to come to a consensus around which objectives are "most importa

[2017-01-30 19:19] #110 closed

[2017-03-15 22:29] ashander opened #121 "Encourage data download on landing page"
It's encouraged, and the files needed are descrilbed in 00-sql-introduction but not on the landing page.

Mentioning the 4 files required on the landing page, rather than just providing the doi, might encourage a few more students to at least download the 16mb zip?

[2017-03-15 22:30] #108 closed

[2017-03-16 22:49] ashander opened #124 "Lesson Release checklist"
Freeze Date:   2017-03-15
Scheduled Release Date:  2017-04-21

Checklist of tasks to complete before release:

- [x] check that the learning objectives reflect the content of the lessons
- [x] check that learning objectives are phrased as statements using action words
- [x] check for typos
- [x] check that the live coding examples work as expected
- [x] if example code generates warnings, explain

[2017-03-16 22:59] ashander commented on #121
Solved by new template

[2017-03-16 22:59] #121 closed

[2017-03-16 23:09] ashander opened #125 "learning objectives stated twice -- harmonize or merge"

[2017-03-16 23:12] ashander opened #126 "Harmonize learning objectives / overview"
- [ ] 00-intro
- [ ] 01-basic
- [ ] 02-aggregation
- [ ] 03-joins

Choice is to harmonize them to be the same or merge them to only be in Overview.

As mentioned in https://github.com/datacarpentry/spreadsheet-ecology-lesson/issues/78 this is issue across all DC. Discussion should take place at linked issue, and decision reached there should be implemented here too.

[2017-03-16 23:18] ashander opened #127 "Fix CONTRIBUTING in new template"
remove/merge info from CONTRIBUTING_orig.md into CONTRIBUTING.md

[2017-03-16 23:21] #125 closed

[2017-03-16 23:25] ashander opened #128 "Remove reference to 00-supplement-database-design"
in _extras/guide.md

[2017-03-16 23:27] ashander opened #129 "Format Key Points"
These are not currently formatted in any of the episodes. If there are none, delete the box

- [x] 00-sql-introduction.md
- [x] 01-sql-basic-queries.md
- [x] 02-sql-aggregation.md
- [x] 03-sql-joins-aliases.md

[2017-03-16 23:34] ashander opened #130 "Setup link broken in 00-sql-intro"
https://github.com/datacarpentry/sql-ecology-lesson/blame/c3138e892504e041ea05021b6ddd851bb8bbd0c7/_episodes/00-sql-introduction.md#L24

[2017-03-16 23:38] ashander commented on #49
can this be closed? (between #115 and notes on this in the guide https://github.com/datacarpentry/sql-ecology-lesson/blame/c3138e892504e041ea05021b6ddd851bb8bbd0c7/_extras/guide.md#L62 )

[2017-03-16 23:51] ashander opened #132 "Harmonize learning objectives in _extras/guide to the lessons"

[2017-03-17 18:17] sarahsupp commented on #124
- [ ] check that all links within the lessons work
As far as I can tell, Setup is the only broken link in the SQL .md episodes (lessons) #130

[2017-03-17 18:21] ashander commented on #124
🎉
On Fri, Mar 17, 2017 at 11:17 AM Sarah Supp <notifications@github.com>
wrote:

--
-Jaime

[2017-03-17 18:45] sarahsupp opened #133 "check for clarity and flow of narrative [Lesson release checklist]"
in: 00-sql-introduction.md

The definition below could specify that records (rows) and fields (columns). This is not necessarily obvious to a complete [novice.]

    Definition: Relational database

    A relational database is a digital database where all data is stored in relations (or tables) containing rows and columns. All tables contain records and all records are identified by a field conti

[2017-03-17 18:49] sarahsupp commented on #133
in 00-sql-introduction.md

The instructions here don't say where students can find the portal_mammals.sqlite file, and they don't provide a link. It also isn't clear how the file should be opened. Specify if "open file" is in RStudio or something else.

Let's download and look at a pre-existing database, the portal_mammals.sqlite file. Clicking on the "open file" icon and then that file will open

[2017-03-17 19:03] sarahsupp opened #134 "check that the learning objectives reflect the content of the lessons [Lesson Release checklist]"
in: 00-sql-introduction.md

The learning objectives listed at the top of this lesson are not all covered in this .md file and they are not in the same order as encountered in the lesson.

They should either match the 2 objectives given in the header, or be trimmed to the 3 that are covered:
-     Describe why relational databases are useful.
-     Define SQLite data types.
-     Create and populat

[2017-03-17 19:07] sarahsupp commented on #134
in: 01-sql-basic-queries.md

The question in the header is not phrased as a question. Suggest:

How do I write a basic query in SQL?

[2017-03-17 19:12] sarahsupp commented on #134
in all SQL lessons:

The box for "Key Points" at the end of the page is blank. Should this be filled in, or is it just to remind the instructor to do a quick review and check-in with students?

[2017-03-17 19:12] sarahsupp commented on #133
in all SQL lessons:

The box for "Key Points" at the end of the page is blank. Should this be filled in, or is it just to remind the instructor to do a quick review and check-in with students?

[2017-03-17 19:16] sarahsupp commented on #134
in: 01-sql-basic-queries.md

Students learn more than just filtering and sorting data. A learning objective could be added to calculate new values based on data/fields.

Also, the first learning objective could be more specific:
Write and build queries**, from simple to increasing complexity.**

[2017-03-17 19:18] sarahsupp commented on #134
02-sql-aggregation.md

The question in the header is not phrased as a question. Suggest:

How can I summarize my results through aggregating, filtering, or ordering the data?

[2017-03-17 19:22] sarahsupp opened #135 "typo [Lesson Release Checklist]"
in: 02-sql-aggregation.md

remove the period after "year" in the challenge.

    Challenge

    Write queries that return:

        How many individuals were counted in each year. a) in total; b) per each species.
        Average weight of each species in each year.

    Can you modify the above queries combining them into one? {: .challenge}

[2017-03-17 19:26] sarahsupp commented on #134
in: 03-sql-joins-aliases.md

The question in the header is not phrased as a question. Suggest multiple questions to be listed:

How do I bring data together from separate tables?
How can I make sure column names from my queries make sense and aren't too long?

[2017-03-17 19:36] ashander opened #136 "Lesson 00 should include importing surveys"
as lesson 01 begins with using `surveys`

this could be in the 'challenge' or in a demo before the challenge, but should be done explicitly

[2017-03-17 20:04] ashander commented on #134
This relates to #132

[2017-03-17 20:22] ashander opened #138 "remove _includes/setup.html -- currently unused file"
(Lesson Release Checklist #124  )

[2017-03-17 20:23] ashander opened #139 "format setup correctly --- software should in tooltips like Data"
![image](https://cloud.githubusercontent.com/assets/510776/24061482/d6f6a732-0b14-11e7-8673-dc3382bea0fc.png)

(Lesson Release Checklist #124 )

[2017-03-17 21:43] njamescouk opened #140 "confusing definition of relational database?"
http://www.datacarpentry.org/sql-ecology-lesson/00-sql-introduction/

"database where all data is stored in relations (or tables) containing rows and columns"

perhaps
"data is stored in tables which have a fixed number of columns and variable number of rows. Rows in different tables may be related to each other by assigning the same identifier to corresponding rows."

 would be better?

needs a p

[2017-03-17 21:57] ashander opened #141 "Add discussion or remove _extras/discuss.md"

[2017-03-17 21:57] ashander opened #142 "Add figures or remove _extras/figures.md"

[2017-03-17 22:02] njamescouk opened #143 "http://www.datacarpentry.org/sql-ecology-lesson/03-sql-joins-aliases/"
Aliases para

 second example doesn't seem to use aliases, last three lines identical in both cases, note on AS doesn't relate to second example.

sql in solutions ok, but no semi colons

[2017-03-18 01:10] ashander commented on #124
Alright @sarahsupp @njamescouk how should we use this? I think the least intrusive option is to

- [x] check off items above

if (a) there are _open issues /PRs that cover all outstanding problems_ or  (b) _the item has been checked and meets all requirements_. please chime in if you feel differently or otherwise comment with items that shoudl be checked off

[2017-03-18 12:59] njamescouk opened #144 "missing semi colons"
bit of a nit pick - https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_episodes/02-sql-aggregation.md has multiple SELECT statements with missing semi colons. copy paste from html into sqlite manager works ok, reading and typing will fail.

see https://gist.github.com/njamescouk/b7bf308bf2f0af3703c674f3a152526f for rudimentary tool

[2017-03-18 13:10] njamescouk opened #145 "minor formatting nit pick"
https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_episodes/03-sql-joins-aliases.md

SELECT COUNT(*) FROM surveys;

should perhaps read
SELECT COUNT(*)
FROM surveys;

[2017-03-20 08:51] orchid00 commented on #145
can you make a Pull Request? please

[2017-03-20 08:59] orchid00 commented on #144
Hi Nick, small changes and typos should go as PR. Issues should be opened when there is need for discussion before the change. Thanks for the suggestions.

[2017-03-20 09:01] orchid00 commented on #143
as before, please open a PR

[2017-03-20 09:03] orchid00 commented on #142
Thanks @ashander, this is from the template, no need to remove.

[2017-03-20 09:03] #142 closed

[2017-03-20 09:06] orchid00 commented on #127
@ErinBecker Does this make any difference, the way it is?

[2017-03-20 09:09] orchid00 commented on #136
There is an import section in https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_episodes/00-sql-introduction.md

Would you like to add something extra?

[2017-03-20 09:16] #135 closed

[2017-03-20 09:17] orchid00 commented on #128
this needs to be more explicit to be an issue

[2017-03-20 09:17] #128 closed

[2017-03-20 09:19] orchid00 commented on #141
@tracykteal is this needed?

[2017-03-20 09:24] orchid00 commented on #140
Less open this for discussion:
A relational database is a digital database where all data is stored in tables which have a fixed number of columns and a variable number of rows. All tables contain records and all records are identified by a field containing a unique value. Every table shares at least one field with another table in a one-to-one, one-to-many or many-to-many relationship. This allow

[2017-03-20 09:37] orchid00 commented on #139
Modified as titles.

[2017-03-20 09:37] #139 closed

[2017-03-20 09:44] orchid00 commented on #134
@sarahsupp could you please put small changes as PR. In the future issues should have one topic this makes it easier to solve.

[2017-03-20 09:49] orchid00 commented on #129
Not so sure what the issue is

[2017-03-20 13:33] tpoisot commented on #129
Me neither.

[2017-03-20 13:33] tpoisot commented on #132
Close in favor of #134

[2017-03-20 13:33] #132 closed

[2017-03-20 13:37] tpoisot commented on #144
Closing -- reopen as PR.

[2017-03-20 13:37] tpoisot commented on #145
Closing -- reopen as PR.

[2017-03-20 13:37] #145 closed

[2017-03-20 13:38] tpoisot commented on #130
Can you please submit a PR?

[2017-03-20 13:38] #130 closed

[2017-03-20 14:37] ashander commented on #144
@tpoisot you should reopen until there is a PR. And this policy needed better coordination with @tracykteal / @ErinBecker --- during the issue bonanza we were told 'Open Issues, not PRs'

[2017-03-20 14:40] ashander commented on #126
closed for #134

[2017-03-20 14:41] #126 closed

[2017-03-20 14:41] ashander commented on #134
As mentioned in https://github.com/datacarpentry/spreadsheet-ecology-lesson/issues/78 this is issue across all DC. Discussion should take place at linked issue, and decision reached there should be implemented here too.

Choice is to harmonize them to be the same or merge them to only be in Overview.

[2017-03-20 14:47] ashander commented on #130
I'm not sure what the link should be. Possibly reopen so someone who knows can fix it?

[2017-03-20 14:50] ashander commented on #128
Oops. That was a little cryptic. I've clarified it.

[2017-03-20 15:09] ashander commented on #136
There is explicit reference (in challenges) to

`Import the plots and species tables {: .challenge}`

but no reference to importing `surveys` anywhere.

Options:

- add it to the challenge
-  the text around `## Import` should make clear that `surveys` is to be used a demo by the intructor.

[2017-03-20 15:22] ashander commented on #129
The new template has a 'Key Points' box at the end of each lesson. Currently these are empty, e.g. in Lesson 00

![image](https://cloud.githubusercontent.com/assets/510776/24106829/5f9249ec-0d46-11e7-94a2-1995689858e4.png)

[2017-03-20 15:42] ErinBecker commented on #144
@orchid00 @tpoisot @ashander @tracykteal

Thanks for the discussion here folks. @ashander is correct that for the Issue Bonanza we were focusing on submitting all change requests as issues, rather than PRs. Tracy and I have it on our calendar to go through the lessons and clean up many of the "minor" issues (such as the typos referenced in this issue) so that this doesn't take up maintainer time.

[2017-03-21 10:26] njamescouk commented on #144
@orchid00 @tpoisot @ashander @tracykteal @ErinBecker
Apologies for breach of protocol, I wasn't aware of the intricacies of the situation. Can understand  that apparent random bod hammering on a repo would be, at the least, disconcerting.

Perhaps a better way forward would be for bug bonanza people to fork the repo in question, invite people to submit issues then the  bug bbq instigators could ro

[2017-03-21 10:44] orchid00 commented on #129
OK, this is likely to be part of the template. Would you like to add some key points as a PR?

[2017-03-21 10:52] orchid00 commented on #144
@ErinBecker @tpoisot @tracykteal I still think the best way to handle typos and small changes is to open them as PR's instead of issues. Those are easy changes that make a difference in how clear is the content.

[2017-03-21 10:55] orchid00 commented on #136
I see it in
Select the file to import
Give the table a name that matches the file name (surveys, species, plots)

Again, Would you like to add something extra?

[2017-03-21 11:01] orchid00 commented on #130
In the page https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_episodes/00-sql-introduction.md
Setup should link to http://www.datacarpentry.org/sql-ecology-lesson/setup/

@ashander Do you want to create the PR?

[2017-03-21 11:14] njamescouk commented on #140
image of db structure: https://www.dropbox.com/s/bwgqujlm7se0a6v/portal_mammals_relations.png?dl=0

[2017-03-21 11:27] njamescouk commented on #144
Whilst my suggestion *is* an extra loop, it would avoid hammering the main repo, in fact the maintainers would be in blissful ignorance until such time as properly formed PR(s) turned up.

[2017-03-21 17:37] tracykteal commented on #144
Thanks, yes, this was a special case to make sure we were capturing issues that needed to be resolved. Since this was the first Issue Bonanza we might not have gotten the workflow quite right! Thank you for the feedback, and we'll plan on how to do this more cleanly for next time.

For now, @orchid00 and @tpoisot  it would be great if we could leave these issues open and @ErinBecker and I will go

[2017-03-31 15:45] gvdr opened #146 "Broken Link in lessons page"
I think that the link in this page http://www.datacarpentry.org/lessons/ to the Instructor Guide is broken.

Currently is https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/instructor-notes.md

Should be https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_extras/guide.md

:-)

[2017-03-31 22:55] #116 closed

[2017-04-01 23:11] ashander commented on #128
I've clarified the issue, which still exists. Please reopen this

[2017-04-06 15:17] maneesha commented on #143
@njamescouk  Can you share more specifically what examples you're referring to?  It looks like the 'Aliases' section includes using aliases to get column names and how `AS` is not necessary.

[2017-04-06 15:22] maneesha commented on #143
PR https://github.com/datacarpentry/sql-ecology-lesson/pull/151 addresses the semicolons

[2017-04-06 15:23] maneesha commented on #63
+1 I use this chart all the time to remind me how joins work

[2017-04-06 17:12] maneesha commented on #140
@njamescouk - Good way of showing how tables relate to each other.  I would make the column widths for name and type consistent down each set of rows.

[2017-04-06 20:46] njamescouk commented on #140
@maneesha @gvwilson thinks diagram inadequate so will let this drop. It's produced mechanically and process can't really be adapted as required :-(

[2017-04-06 20:52] njamescouk commented on #143
I was looking at an out of date repo or this has been rewritten since I commented, I can't see any error,

[2017-04-06 20:52] #143 closed

[2017-04-06 21:45] ashander commented on #136
I will work on this. Going to add language explicitly saying to import surveys

[2017-04-06 22:00] ashander commented on #134
My understanding of the upshot of discussion on other issues: only state these once, in the yaml frontmatter under 'objectives'. I will make the fix

[2017-04-06 22:16] ashander commented on #124
I'm going through and checking off items if issues /prs have been created.

I'll create additional issues for the remaining few

[2017-04-06 22:18] ashander opened #154 "update the release notes (NEWS) [release]"
issue based on #124

[2017-04-06 22:18] ashander opened #155 "tag release on GitHub [release]"
issue based on #124

[2017-04-06 22:19] #124 closed

[2017-04-06 22:30] ashander commented on #140
Looks like this will be closed if #149 is merged

[2017-04-07 00:26] ashander commented on #138
Worked on this. Will be closed if #156 is merged.

[2017-04-07 00:33] ashander commented on #141
I've asked about this and #142 in the gitter lobby, but won't get to it till tomorrow, likely

[2017-04-07 02:55] tracykteal commented on #142
Since we're not bringing in all the figures into this file, it's just going to remain empty. So, it's better to remove it. Then it won't even appear in the 'Extras' drop down menu.

[2017-04-07 03:06] tracykteal commented on #141
I looked at how 'Discussion' was being used in the SWC lessons. These are some examples

http://swcarpentry.github.io/python-novice-inflammation/discuss/
http://swcarpentry.github.io/shell-novice/discuss/
http://swcarpentry.github.io/git-novice/discuss/

None of the Data Carpentry lessons have a Discussion section right now, because it wasn't material developed under the old template. So, maybe th

[2017-04-07 06:35] #140 closed

[2017-04-07 17:21] #52 closed

[2017-04-07 17:26] #136 closed

[2017-04-07 17:30] #138 closed

[2017-04-07 17:35] bsmith89 commented on #129
I'll take this for `00-sql-introduction.md`.

[2017-04-07 17:37] ashander commented on #146
Fixed in above PR to main website

[2017-04-07 17:39] #144 closed

[2017-04-07 17:40] tracykteal commented on #144
Closed by https://github.com/datacarpentry/sql-ecology-lesson/issues/150

[2017-04-07 17:42] #146 closed

[2017-04-07 17:58] bsmith89 commented on #129
For my own reference: key points are added to the YAML header of the `.md` file for the episode like so:

[code]

[2017-04-07 18:00] ashander commented on #129
Helpful stuff for anyone else working on this too. Thanks!

On Fri, Apr 7, 2017 at 10:58 AM, Byron Smith <notifications@github.com>
wrote:

[2017-04-07 18:09] ashander commented on #127
currently new template has some FIXMEs in it, e.g https://github.com/datacarpentry/sql-ecology-lesson/blame/gh-pages/CONTRIBUTING.md#L49-L50

I'm going to fix this and will also see if there are changes from old CONTRIBUTING

[2017-04-07 18:12] bsmith89 commented on #129
It would appear that other DC lessons also don't have Key Points sections.  Is this something that should be changed?

[2017-04-07 18:16] ashander commented on #129
There are probably existing issues/PRs flagging this in appropriate repos.

I know they're being added / have been added in at least one case:
https://github.com/datacarpentry/spreadsheet-ecology-lesson/pull/126

On Fri, Apr 7, 2017 at 11:12 AM, Byron Smith <notifications@github.com>
wrote:

[2017-04-07 18:17] ashander commented on #129
ps @bsmith89 please update here if you are taking this on for more than just lesson `00` (no pressure ;). if so I'll update the checklist above accordingly

[2017-04-07 18:24] ASGeorge commented on #129
Good day. Working on adding key points for 01-sql-basic-queries.md.

[2017-04-07 18:25] bsmith89 commented on #129
Will do.

Also, again for my own reference (sorry if this is getting spammy), here is an example from swcarpentry/python-novice-gapminder Episode 7:

[code]

[2017-04-07 18:42] ashander commented on #127
the narrow issue is fixed in #158

 a broader discussion of including old DC specific material can take place in #159

[2017-04-07 18:42] #127 closed

[2017-04-07 18:42] bsmith89 commented on #129
Releasing `00-sql-introduction.md`.

Claiming `02-sql-aggregation.md`.

[2017-04-07 18:55] ashander commented on #141
OK, I've deleted the other, unused extras/figures in #160 but will leave this one. I guess this issue can be left as a flag for the next release. (But the labels should prob be changed to indicate that.)

[2017-04-07 19:03] bsmith89 commented on #129
Done (for now) contributing to `02-sql-aggregation.md`.

[2017-04-07 20:10] ashander commented on #133
- [ ] 00
- [ ] 01
- [ ] 02
- [ ] 03

I'll do the fixes in  00-sql-introduction.md, I don't think any issues with flow were pointed out in any other of the lessons

[2017-04-07 20:13] ashander commented on #133
The definition issue was addressed in https://github.com/datacarpentry/sql-ecology-lesson/pull/149

[2017-04-07 22:25] ashander commented on #129
I'll add some for `03-sql-joins-aliases/`

[2017-04-08 15:18] bsmith89 commented on #129
The choice of key points look really good (IMO) in #157, #161, #162, and #165.

One thing maybe worth considering is that the voice we've used is inconsistent across the four episodes.  This is also the case across Carpentries lessons, e.g. [SWC-shell-episode2](http://swcarpentry.github.io/shell-novice/02-filedir) vs. [SWC-python-gapminder-episode7](http://swcarpentry.github.io/python-novice-gapmi

[2017-04-08 19:59] ashander commented on #129
good point @bsmith89 I'm not sure we could or should take on the broader issue here, but it's good to flag it. for the issue of consistency across our PRs, what specifically do you mean? I've merged everything and pasted a combined diff below for easy reference. Differences I see:

- some of the points are pithier and some more verbose. (I'd favor pithier while possible)
- use of ` `` ` around com

[2017-04-08 20:35] bsmith89 commented on #129
-  pithier vs. verbose is the most obvious one
-  choices about at what level details should be combined into a single point versus split up
-  scope of key-points: should they be limited to details of using SQL, or does conceptual stuff belong, too.

[2017-04-18 16:28] tracykteal commented on #129
Thanks for the idea of the style guide for 'key points'. This is a good broader discussion. I created an issue in the lesson templates repository. https://github.com/swcarpentry/lesson-example/issues/112

[2017-04-18 16:42] tracykteal opened #167 "Update type for plotid on import"
In the portals sqlite database plotid is an integer, but in lesson 00 we ask them to import it as text. To be consistent and have exercises work consistently, we should make it numeric.

Also, then wouldn't need the update in https://github.com/datacarpentry/sql-ecology-lesson/pull/166

[2017-04-18 16:44] #134 closed

[2017-04-18 16:51] tracykteal commented on #49
Thanks, resolved as noted by @ashander

[2017-04-18 16:51] #49 closed

[2017-04-18 17:08] #129 closed

[2017-04-18 18:04] tracykteal commented on #133
This has been updated and clarity and flow is much better

[2017-04-18 18:04] #133 closed

[2017-04-18 18:05] tracykteal commented on #141
Added the 'after lesson release' tag to come back to this

[2017-04-18 18:07] tracykteal commented on #154
Great, we'll update this when we do the release. Will add a 'to do at release' label

[2017-04-18 18:29] tracykteal commented on #167
Addressed in https://github.com/datacarpentry/sql-ecology-lesson/issues/167

[2017-04-24 07:01] #167 closed

[2017-04-25 20:34] tracykteal opened #171 "fix information in CITATION"
see https://github.com/datacarpentry/spreadsheet-ecology-lesson/blob/gh-pages/CITATION as reference

[2017-04-25 20:44] tracykteal opened #172 "remove _orig files"
We can remove the files that have the _orig in them.

[2017-05-09 18:02] ErinBecker opened #179 "add solutions for exercises/challenges"
Most of the challenges for the SQL lessons are missing solutions. It would be great to include those similar to how they're done in OpenRefine and Spreadsheets lessons.

<table>
<tr><th>Episode</th><th>PR</th><tr>
<tr><td>01 Databases using SQL</td><td>#187, #204</td></tr>
<tr><td>02 Basic Queries</td><td>#204</td></tr>
<tr><td>03 SQL Aggregation and aliases</td><td>#204</td></tr>
<tr><td>04 Joins

[2017-05-11 09:52] nshozi opened #180 "Basic explanation of SQL required in Introduction to SQL lesson [Suggestion]"
[Instructor Training Suggestion]

In the SQL introduction episode ( sql-ecology-lesson/_episodes/00-sql-introduction.md ) , one of the questions/objectives for the course is to answer 'what is SQL' however when browsing this material, there is no section that defines SQL. I would like to suggest the following:

**What is SQL?**
SQL stands for Structured Query Language. It is a language that allows

[2017-05-16 08:02] orchid00 commented on #180
Nshozi, thanks for your comment it's great to add! Can we maybe rephrase to SQL allows us to interact with relational databases. Instead of manipulate and then instead of talking about records, just link this to the existing concept of relational databases. We can polish this definition more comments are welcome.

[2017-05-16 08:06] nshozi commented on #180
@orchid00 That really sounds much easier and simpler to understand - perfect!!

[2017-05-31 23:26] kariljordan commented on #179
I wanted to +1 @ErinBecker because I just went through the lesson on my own to prepare to teach it in June and wanted to confirm that my queries are correct for the challenge questions. @orchid00 @tpoisot are there any plans to add the solutions to the challenge questions?

[2017-05-31 23:29] kariljordan opened #182 "Missing summary on SQL Aggregation module"
The [SQL Aggregation](http://www.datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/) module ends abruptly. Should there be more text after the query? This is how the module ends:

There is one more subtlety we need to be aware of. Suppose we run this query:
SELECT COUNT(*), weight
FROM summer_2000;

    Key Points
        Use the GROUP BY keyword to aggregate data.
        Functions like MIN

[2017-06-01 13:46] AlfAWolf140 opened #183 "Remove AS from before it is taught"
When I was teaching the lesson earlier I noticed that AS is used in the IFNULL and NULLIF sections before it's taught in the ALIAS section. This meant that I ended up explaining it twice. I don't know which would be the better option, but I'd like to suggest either:

a) Remove the AS statements from the following
SELECT species_id, plot_id, NULLIF(plot_id, 7) AS partial_plot_id
FROM surveys;

SELE

[2017-06-28 13:45] ChristinaLK commented on #183
I saw the same thing when I taught this last week.

[2017-06-28 13:50] ChristinaLK opened #184 "rework some challenges?"
Right now the exercises are written in a way that makes it easy to translate into SQL queries.  Some of them could be re-written so that participants have to think more carefully about which pieces of the question translate into query language.

For example, from the section on filtering with WHERE, the current challenge is:

I rewrote that as:

I also tried to frame the challenges as ways to find

[2017-06-29 12:54] exsilica opened #185 "SQLite Manager Firefox plugin does not create files"
An instructor - @henrykironde - and I have noticed that we need to work in between the SQLite Manager desktop application and Firefox plugin. The plugin on its own does not create new databases, but does open existing .sqlite files. Are there Firefox settings we can adjust to give the plugin permissions to write files?

(I have not been trained as a DC instructor so I apologize if I am missing som

[2017-07-31 14:15] orchid00 commented on #171
it is fixed https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/CITATION

[2017-07-31 14:15] #171 closed

[2017-07-31 14:40] orchid00 commented on #183
Option a) seems sensitive. Thanks for pointing it out @AlfAWolf140 and @ChristinaLK. I have updated it.

[2017-07-31 15:12] orchid00 commented on #185
hi @exsilica, could you please check with a newer version of Firefox? or maybe ask others with different settings or OS. I am not aware of others having this issue.

[2017-07-31 15:15] orchid00 commented on #184
@ChristinaLK great work rephrasing the challenges. Have you sent a PR? I haven't seen it. If you did then let me know if I can close this issue or if you need more feedback.

[2017-07-31 15:16] orchid00 commented on #182
@kariljordan  would you like to suggest a sentence to add. you could do this as a PR.

[2017-07-31 15:18] orchid00 commented on #180
@nshozi  just reviewing this again. Would you be able to put together the rephrased concept as a Pull request? So we can close this issue and have an updated concept! Thanks

[2017-07-31 15:19] #172 closed

[2017-07-31 19:07] ChristinaLK commented on #184
I haven't yet, but I'll add it to my list of things to do.  :)

[2017-08-01 10:46] orchid00 commented on #184
Thanks, @ChristinaLK I have updated this specific challenge in 01-sql-basic-queries.md with your suggestion. I will keep this issue open until I hear back from you and maybe some PR.
No rush, just letting you know that the BBQ is August 3, 4 if you would like to work on that.
All the best!

[2017-08-01 11:44] kariljordan commented on #182
Hi @orchid00, I'm going to tweet this issue because I honestly don't have a lot of experience with SQL.

[2017-08-01 15:24] tracykteal commented on #182
It seems like everything below "But if we try to be extra clever, and find the average ourselves, we might get tripped up:" isn't really about saving views. Instead it is about how SQL handles NULL values and some of the subtleties.

Should we include this discussion of NULL values? If so, maybe we should at least break it out into its own section and complete it.

I also see that in this PR, we l

[2017-08-01 15:27] tracykteal commented on #182
Ah, ha! In that PR, it also lost the Null values header, so that makes more sense. I'll put the header back too.

[2017-08-01 15:33] tracykteal commented on #182
Actually, that whole PR changes the intent of the Null section. Sorry, I merged that PR, so should have done a better review. What do we think about going back to the having a 'View' exercise and a section on Null values? So, we could incorporate some of those changes, but just not all.

[2017-08-01 19:24] kariljordan commented on #182
@tracykteal I think that is a great idea (section on View and section on Null) because they are both important topics and distinct. I'm pulling @tpoisot in to this conversation since he's the other maintainer. Yippee!

[2017-08-02 09:12] #185 closed

[2017-08-08 09:45] orchid00 commented on #179
Working now with @nek555 on PR #187 which will lead to many small updates.

[2017-08-08 18:17] ErinBecker opened #189 "SQL Aggregation Aliases"
Submitted by email for Instructor Training checkout.

What: Add a note about GROUP BY and ORDER BY statements- you can substitute the number of the order a column appears in the select statement with the name of the column in a GROUP BY statement. For example the following query would change from

SELECT species_id, COUNT(*)
FROM surveys
GROUP BY species_id;

to

SELECT species_id, COUNT(*)
FROM s

[2017-08-09 18:41] amyehodge opened #190 ""AS" is used in lesson before it is introduced"
Using "AS" for reported field name aliases is included as part of the "HAVING" keyword section of 02-Aggregation, but it is not introduced and discussed until the 03-Joins and Aliases module in the lesson materials. As aliases seem like a lower priority topic, I would recommend moving how they interact with HAVING to the alias section and out of the HAVING section.

Issue #189 mentions a different

[2017-08-09 18:43] amyehodge opened #191 "Concept of NULL used but never introduced."
The section on functions from 03-Joins and Aliases includes information about IFNULL etc. that assume learners know what NULL is, though it is never introduced anywhere else in the lesson. That should be added in somewhere. I like it early in the lesson myself, with the basic queries and finding unique values (those naturally go together to me), but it at a minimum should be introduced at the star

[2017-08-09 18:54] amyehodge commented on #182
Please see my mention that placement of NULL introduction should also consider the IFNULL etc functions discussed in the FUNCTION section.

[2017-08-09 19:55] amyehodge commented on #191
I have just now seen that NULL is introduced as part of a challenge very soon before the Functions section. While I do think it would benefit from a longer discussion of its potential uses and being put earlier in the lesson, I'm going to close this issue as not important enough to warrant someone updating at this point.

[2017-08-09 19:55] #191 closed

[2017-08-12 11:34] orchid00 commented on #190
Very recently I updated some exercises that had AS before the concept was introduced. Would you like to suggest a PR?

[2017-08-13 05:45] orchid00 commented on #190
I've checked more in detail now. I see "AS" is being used as part of HAVING and also as part of CREATE VIEW viewname AS. The create view is one of the key concepts of this section 02-Aggregation. I will then, propose to move "Aliases" concept and examples from section  03 to 02. I also think that having JOINS as a separated lesson on its own would be good. This would need many parts moved around.

[2017-08-13 05:52] orchid00 commented on #189
As it is referenced in #190 First we need to decide what to do with the Aliases part, now section 02 is using it but it is only explained later in section 03. On one hand, If we want to add this concept it will fit better in section 02, in my opinion. On the other hand, I don't think this addition is something necessary for novices to learn. Any other thoughts?

[2017-09-03 07:10] orchid00 commented on #190
Would you like to comment, regarding my last comment? @tracykteal @ErinBecker @tpoisot

[2017-10-24 23:03] orchid00 commented on #190
I will work on that, this is sitting here for too long. Thanks @amyehodge

[2017-10-25 17:02] tpoisot commented on #189
I'm not sure mentioning this is useful. You can rename columns and use their names, so the query looks more like english. Using numbers makes the query code much harder to maintain.

[2017-10-27 00:02] orchid00 commented on #189
Thanks @tpoisot I agree with you and would also suggest not to implement this update. I will close this issue.

[2017-10-27 00:02] #189 closed

[2017-10-27 00:18] orchid00 commented on #190
Hi Tim, @tpoisot I got the OK from @ErinBecker to move the Alias section from 03 to 02. I will do a fair bit of changes in these two episodes. It was also suggested to write a post to let the community know about this change. Would this post be something you would like to help with? It would be aimed to the community informing about the changes, and also to other maintainers letting them know the

[2017-10-27 01:47] orchid00 commented on #183
I fixed this! Aliases is now on episode 2!
(finally!)

[2017-10-27 01:47] #183 closed

[2017-10-27 01:51] orchid00 commented on #182
Thanks for this discussion. In order to move forward, as maintainer I have decided to remove that extra sentence and example. The episode is much clearer with out it. If any of you would like to offer a complete PR to add some information about it, I will welcome that.

[2017-10-27 01:51] #182 closed

[2017-10-27 02:05] orchid00 commented on #63
@tpoisot Now that episode 03 has been updated (fixed the alias section) Would you like to share your pretty svg graph?

[2017-10-27 02:05] #84 closed

[2017-10-27 02:08] orchid00 commented on #107
Hi @brainwane It has been long. would you like to suggest a concept map as contribution? or spread the word about it so someone else can contribute? I would suggest your own circle or using twitter or a write blog post for the carpetries community.

[2017-10-27 02:09] #141 closed

[2017-10-27 02:09] #154 closed

[2017-10-27 02:10] #155 closed

[2017-10-27 02:12] orchid00 commented on #179
This is still pending. @kariljordan @ErinBecker To clarify expectations I won't add any solutions to challenges. I would instead welcome any contributions from people who are preparing to teach this lesson.

[2017-10-27 02:26] orchid00 commented on #180
@nshozi I have added a concept based on the discussion to https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_episodes/00-sql-introduction.md
Thanks for this thread.

[2017-10-27 02:26] #180 closed

[2017-10-27 02:27] #184 closed

[2017-10-27 12:10] kariljordan commented on #179
Will you send out a "call for contributions"?

[2017-10-27 15:47] ErinBecker commented on #190
Thanks @orchid00 for the communication about this. Yes, please update the episode name (and file name) for accuracy. It would be useful to check the repo for any other occurrences of that link name and update those as well (there may be some instances of "in a previous lesson" or "in a later lesson" that reference this episode). I can't think of any external links (outside of the lesson) that woul

[2017-11-01 12:14] orchid00 commented on #190
i renamed the file and did a check, it seems like the links are working fine.
I will leave this open, for a few days, to see if something needs to be fixed.

[2017-11-01 12:16] orchid00 commented on #179
Hi Kari, that is not my plan, but you are welcome to do the call.

[2017-11-01 12:31] kariljordan commented on #179
Hopefully someone in the SQL loving community can contribute, or maybe @tpoisot? I'm not skilled in SQL so I'm not able to help with this. Good luck!

[2017-11-14 17:20] kcranston opened #199 "SQLite Manager and new Firefox"
Amy Hodge points out on [this thread](http://lists.software-carpentry.org/pipermail/discuss/2017-November/005585.html) that the new release of Firefox does not support the SQLite Manager plugin. Couple of things we should do:

* (short term): update the setup instructions letting instructors / learners know which version of Firefox they need to be able to run the plugin
* (long term): explore othe

[2017-11-14 17:50] liz-is commented on #199
Would the Firefox [Extended Support Release](https://www.mozilla.org/en-US/firefox/organizations/) be useful here in the short term? It's intended to provide extended support for Java-based plugins, and may still support SQLite Manager.

[2017-11-14 17:52] twitwi commented on #199
ESR are probably ok in the short term, up to june 2018: https://www.mozilla.org/en-US/firefox/organizations/faq/

[2017-11-14 17:52] swaldman3 commented on #199
This is correct - the ESR will allow old extensions, inclding SQLite Mgr. However, this is *only* a short-term option, as it reaches end of life in mid-2018.
Also: Firefox does not make it easy to have multiple versions installed, and I think we would get a lot of pushback if we asked learners to "downgrade" their browser version for the sake of the software that we want them to use.

[2017-11-14 23:49] naupaka commented on #199
As an alternative to Firefox, there's [DBeaver](https://dbeaver.jkiss.org/). Apache license, works on all platforms. Also will work with many different types of database engines, not just SQLite.

[2017-11-15 00:15] kcranston commented on #199
It looks like there are some alternatives out there (and perhaps some better UI than the current SQLIte Manager plugin!). What we need now is some testing. Anyone interested in participating? Maybe we could pick a day, have 1-2 people run through the lesson with each tool, and report back on the experience.

If you are interested, leave a comment below.

[2017-11-15 00:28] naupaka commented on #199
Happy to go through the lesson with DBeaver. I've been impressed with it for my own work.

[2017-11-15 14:59] tpoisot commented on #199
I use [SQLite browser](http://sqlitebrowser.org/), but DBeaver looks nice.

[2017-11-15 15:00] tpoisot commented on #199
And of course, there is a [SQLite backend](https://github.com/brownan/sqlite3-kernel) for Jupyter.

[2017-11-15 21:29] PeterSmyth12 commented on #199
DB Browser for SQLite from http://sqlitebrowser.org/ which a few people have mentioned seems to have all the required functionality, it even has a small graphing pane which seems like overkill to me.

I have just written the SQL lesson for the forthcoming Social Sciences curriculum, with several screenshots of the plugin and a tour of the facilities.

I feel I will have to re-write it now, I could

[2017-11-16 21:03] mkweskin commented on #199
Hi all- I just completed the Carpentries Instructor Training yesterday and used the "SQL for Ecology: Basic Queries" as the episode for my teaching exercises. This issue with Firefox dropping support for the SQLite Manager plugin came up during my training.

Today I tried both DBeaver and "DB Browser for SQLite" on my Mac with the beginning of the SQL for Ecology lesson and concur with @PeterSmyth

[2017-11-16 23:08] naupaka commented on #199
Having now played with both, I agree with @mkweskin about it being quite challenging to make a new SQLite database from CSV files in DBeaver and that is probably reason enough not to use it for an intro workshop...

[2017-11-17 08:14] jessesiu opened #200 "add three tables join example"
It could be useful to add three or more tables join example in the lesson.
e.g The query performs two JOIN operations with 3 tables.

[2017-11-17 10:33] PeterSmyth12 commented on #199
Both DBeaver and DB Browser seem to have problems with importing csv files.

There are instruction for DBeaver [here](https://github.com/serge-rider/dbeaver/issues/722)  ( a six point plan about half way down). There is also an outstanding request outlined here.

![dbeaver_csv](https://user-images.githubusercontent.com/25324961/32942292-825b691a-cb80-11e7-8da6-3e19c3b1b69f.png)

The version I down

[2017-11-17 13:54] mkweskin commented on #199
I checked out another open source, cross platform tool I found: [SQLiteStudio](https://sqlitestudio.pl).

- CSV import is straight forward, but you need to set the datatypes after the import
- Other than making structural changes to a table, you don't need to save to keep changes.
- There's an annoying GUI issue on my Mac where the file browser doesn't respond correctly when you create a new DB or

[2017-11-19 13:15] orchid00 commented on #199
Question: what do we do in the mean time, while deciding the next tool?

[2017-11-20 14:33] tpoisot commented on #199
Let me summarize

| Tool             | Installation | Multi-platform | CSV import | SQLite only |
|:-----------------|:-------------|:---------------|:-----------|:------------|
| [SQLiteStudio]   | standalone   | yes            | **yes**    | **yes**     |
| [sqlite3-kernel] | Jupyter      | yes            | no         | **yes**     |
| [DBBrowser]      | standalone   | yes            | **yes**

[2017-12-05 18:20] danielsmaxwell commented on #199
I've started working with SQLiteStudio and like the interface.  It appears to be a rather capable tool.

[2017-12-06 02:57] remram44 commented on #199
Those are all opensource and multiplatform. sqlite3-kernel really stands apart (and is definitely harder to setup, though could be hosted via JupyterHub), I guess we'll need to look into the individual features...
<table>
<tr><th>Tool</th><th>License</th></tr>
<tr><td>SQLiteStudio</td><td>GPLv2</td></tr>
<tr><td>sqlite3-kernel</td><td>BSD-3</td></tr>
<tr><td>DBBrowser for SQLite</td><td>Mozilla &

[2017-12-06 10:47] PeterSmyth12 commented on #199
For the SQL lesson in the Social Sciences curriculum  I have decided to use DB Browser. Perhaps not perfect, but straightforward to install and use.

I have attached word documents covering the installation, launching and creating a table.
[Installing db browser.docx](https://github.com/datacarpentry/sql-ecology-lesson/files/1534820/Installing.db.browser.docx)
[Launching DB Browser.docx](https://g

[2017-12-08 01:35] justinclift commented on #199
@PeterSmyth12 As one of the DB Browser for SQLite developers, that sounds pretty awesome. :smile:

Not sure if it's useful for your audience, but we've rewritten large parts of our CSV import code since our last major release.  It now imports significantly faster (at least 3x as fast in most cases), and it auto-detects the closest matching data type on the way through.

Naturally though, you can s

[2017-12-10 02:03] remram44 commented on #199
sqlitebrowser ("DBBrowser for SQLite") seems very good. The interface is not too cluttered, it is easy to import and export CSV, viewing/changing the data is intuitive. The schema editor is available under a button, it seems complete enough (though I was confused for a moment trying to create an index -- that is a separate button from the main view). There are obvious commit/rollback buttons, and

[2017-12-10 11:46] justinclift commented on #199
As a data point, we used the abbreviation "DB4S" for "DB Browser for SQLite".  Much easier to type. 😁

[2017-12-21 21:18] amyehodge commented on #199
I have submitted a PR that addresses this in the short-term, i.e. notifies people of the problem and changes the download links to the Firefox ESR page.

[2018-01-03 19:34] remram44 opened #202 "portal_mammals.sqlite has incorrect column types"
When running from the included `portal_mammals.sqlite` file instead of recreating it, you will run into an issue running some queries because the data type are wrong (compared to what's listed in the lesson). For instance, the `weight` is INTEGER instead of REAL, which means that `SELECT weight/1000` will give out all 0 instead of the expected decimal values (you can do `weight/1000.0`, but explai

[2018-01-03 23:37] ethanwhite commented on #202
From a data structure perspective these data are actually integers as they are only collected to the nearest gram/millimeter. This is why they are explicitly cast into integers in the creation of the database:

https://github.com/weecology/portal-teachingdb/blob/master/create_portal_teaching_dataset.py#L59

SQLite uses integer division on integers which is what produces this result. When I teach t

[2018-01-04 00:21] remram44 commented on #202
I don't really have a problem either way, my issue was that the first time I ran through the lesson, I created the database from the CSV file as described, and the lesson says to import those columns as REAL ([here](http://www.datacarpentry.org/sql-ecology-lesson/00-sql-introduction/#import)). I was surprised the `.sqlite` file was different, I think that's my real issue.

[2018-01-04 00:23] ethanwhite commented on #202
Ah, got it, that's something that's changed since I wrote the lesson and built the dataset, and I totally agree that they should be consistent. Let's see what the current maintainers (and anyone else with thoughts) wants to do and then we can update either the data or the lesson to make sure that both match.

[2018-01-10 18:22] ChristinaLK commented on #199
one data point: we used db browser for sqlite this week and it worked great.

[2018-01-11 23:46] ethanwhite commented on #202
Pinging @orchid00 & @tpoisot for their take on this. I'm personally leaning towards @remram44's suggested change to make the pre-built database inline with the types described in the lesson and avoid the pedagogical stumbling block of integer division.

[2018-01-21 19:21] justinclift commented on #199
Possibly useful, one of our team members is adding [bar charts](https://github.com/sqlitebrowser/sqlitebrowser/pull/1302) to our "Plot" panel. eg:

#### "Stacked bars" checked and "Show legend" checked
![imagen](https://user-images.githubusercontent.com/13812910/35196026-e570a2d4-fecc-11e7-9fa4-3702a03d4009.png)

#### "Stacked bars" unchecked (grouped) and "Show legend" unchecked (defaults)
![imag

[2018-01-21 20:59] remram44 commented on #199
@justinclift Plotting is not really the focus of the SQL lessons, but it's good to see that DB4S is so actively developed.

Maintainers: any objections to using DB4S? If people are already using it for teaching, we should go ahead and officially request a PR to update the lesson. Thanks! I can take a crack at it, but not in the next few days.

[2018-01-21 21:57] justinclift commented on #199
@remram44 No worries at all. :smile:

[2018-01-30 19:50] sheraaron commented on #179
Contribution by Ioanna Lampaki

## SQL for ecology: Solutions to challenges

This document lists all challenges and their solutions in the right order of appearance as in http://www.datacarpentry.org/sql-ecology-lesson/ . It addresses Issue #179 (https://github.com/datacarpentry/sql-ecology-lesson/issues/179) and also includes additional or slightly different challenges of older versions as provid

[2018-01-30 20:41] remram44 commented on #179
Thanks @sheraaron! I did my best to turn this into PR #204, unfortunately I couldn't find some of those exercises in the lesson.

[2018-01-30 22:13] kariljordan commented on #179
These are awesome contributions @remram44!

[2018-01-30 22:14] kariljordan commented on #179
@ErinBecker is there a specific SQL maintainer that needs to be pinged for this?

[2018-01-30 22:20] ErinBecker commented on #179
@kariljordan - @remram44 is the new Maintainer! :-)

[2018-01-30 22:31] remram44 commented on #179
As I understand it @tpoisot is my co-maintainer, I'm sure he will get to this in due time (I can't actually merge).

[2018-01-30 22:36] ErinBecker commented on #179
@remram44 - you should have merge access. I'll double check the settings for the repo.

[2018-01-31 15:43] kylemonahan opened #205 "The first challenge does not have a solution provided"
The first challenge doesn't provide a solution, and might be hard for some students to complete.

"Write a query that returns The year, month, day, species_id and weight in mg"

We can add a query as the following in a dropdown:

[code]
We can also remind them of the semicolon issue, since they only saw it twice before: once during this lesson, and once conceptually in the previous lesson [here](h

[2018-01-31 16:58] remram44 commented on #205
Hi @kylemonahan! Indeed solutions need to be added for all the challenges. We already have solutions sitting in PR #187 and #204, currently waiting for review, so I don't think we need more patches right now.

There has been some changes in the maintainer team, and hopefully we can get those PRs merged soon.

[2018-01-31 20:20] kylemonahan commented on #205
Thanks for getting back to me so quickly! I'll check out those solutions. Happy to help where I can!

[2018-02-15 18:43] michaelbales1 opened #206 "Adjust wording in SQL aggregation and aliases"
I'd like to suggest minor changes to the wording in this lesson.

1. In the section "The HAVING keyword", one section reads as follows: "If you use `AS` in your query to rename a column, `HAVING` you can use this information to make the query more readable." Because I was unsure of the intended meaning when I read this, I sense that a rewording would help.
2. In the section "Saving Queries for Fut

[2018-02-26 20:00] #199 closed

[2018-02-27 19:22] remram44 commented on #190
Fixed by 756ac399.

[2018-02-27 19:22] #190 closed

[2018-02-27 19:23] #205 closed

[2018-03-03 16:38] alexpetralia opened #208 "Add a caveat about using GROUP BY incorrectly"
In the lesson on aggregation (http://www.datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/), the GROUP BY syntax is introduced so that students can learn how to apply aggregate functions, not to an entire result set (the default action of an aggregate function), but rather to individual groups (ie. "for each" group).

A very common and significant mistake I see even in more proficient SQL u

[2018-03-03 16:46] alexpetralia opened #209 "Add a caveat about using JOINs incorrectly"
This refers to lesson: http://www.datacarpentry.org/sql-ecology-lesson/03-sql-joins/

When I teach SQL, one thing I try to emphasize soon after introducing the INNER JOIN syntax is to tie back to a more familiar concept of "safety."

The inner join is the most dangerous join - if you fail to join your core dataset (say transactions or sales) onto some reference data, you will lose rows! Practition

[2018-03-03 17:42] remram44 commented on #208
This might catch some mistakes, but I don't see it as a rule. You might join on some key but display an other field, for example when using joins, or some other aggregate (min/max, etc). Definitely feel free to improve the wording here, but I don't see this as a universal rule.

[2018-03-03 18:53] alexpetralia commented on #208
Sure - just to clarify, I haven't ever in practice ever seen any benefit to doing this:

[code]

Users think they are grouping by (species_id, year) and will have results that give them a COUNT(*) for (species_id, year) but of course that COUNT(*) is actually only for (species_id).

Similarly:

[code]

I haven't seen in practice where you'd ever want to group by something (year in this case) but n

[2018-03-03 19:36] remram44 commented on #208
No benefit in the example you took, we're agreed.

[2018-03-05 20:40] remram44 commented on #209
I don't think "OUTER is the safe join" is a very good way of introducing this. :thinking: INNER joins will never put NULLs in columns that shouldn't be NULL, OUTER joins can. Wouldn't that mean INNER is safer?

It is definitely important to explain that they are different, and that OUTER joins have a direction, and what that means. But stating that "OUTER is the safe join and INNER not safe" seems

[2018-03-08 11:55] mkweskin opened #210 "Question about Challenge in "COUNT and GROUP BY" section"
Could you clarify the final part of this challenge in the "COUNT and GROUP BY" section:

[code]

Is the final part asking you to combine three queries? Two in part 1: counts by year, counts by year & species, plus one in part 2: average weight by year? I don't think the intention is to have people combine the two types of grouping in part 1 into a query, just to report counts and average weight by

[2018-03-08 14:37] mkweskin opened #211 "Import of NULL from CSV in DB Browser for SQLite"
I noticed that "DB Browser for SQLite" handles import of missing values from CSVs differently than the old Firefox "SQLite Manager."

In "DB Browser for SQLite" missing values in a csv are not imported as NULL in the database, rather they are given no value (but aren't NULL). In the Firefox "SQLite Manager" those missing values are given NULL. The result is that you don't end up with any NULL valu

[2018-03-08 15:38] mkweskin commented on #211
Using import in the new system gives you a database with no NULL values. In the old system every missing value in the csv was treated as NULL.

For example, this query is from the old system:

[code]

And this is the new one:

[code]

I've added a feature request to sqlitebrowser: https://github.com/sqlitebrowser/sqlitebrowser/issues/1339

[2018-03-09 19:55] remram44 commented on #211
Indeed empty cells are imported as `""`. It might be good to have an option to import as `NULL` or `DEFAULT` but this seems to also be what sqlite3's `.import` command does.

[2018-03-09 19:58] remram44 commented on #211
It might also be good to add a comment to `00-sql-introduction` (though nothing is currently mentioned about missing values).

[2018-03-09 20:12] remram44 commented on #210
Hmm something is definitely unclear here, thank you for pointing it out!

I'm not sure your correction works though, because you can't really get the average weight per species and the number of individuals NOT per species.

Maybe something like this, referring to numbers explicitly:
[code]

[2018-03-15 12:05] mkweskin commented on #210
Yes, I think your suggested rewording works well!

[2018-03-15 12:27] mkweskin commented on #211
With the missing values being handled as TEXT `""` rather than NULL, the AVG() operation treats the `""` as 0 and they're included in the average.

When I taught SQL for Ecology last week using "DB Browser for SQLite" I used this difference as a way to demonstrate in the *SQL Aggregation and aliases* lesson that `""` is different from NULL. My co-instructors and I came up with having the participa

[2018-03-19 11:32] tracykteal opened #213 "Setup instructions: SQLite Manager not compatible with current version of Firefox"
From Fergus Keatinge:

Just an FYI for the Data Carpentry Workshop Setup Instructions - SQLite Manager is no longer compatible with the current version of Firefox (which is linked on the instructions page) - as per SQLite Manager addon page:

"This extension depended upon the interface to sqlite engine embedded in Firefox. As the interface has been removed in Firefox 57, this extension no longer f

[2018-03-19 15:04] remram44 commented on #213
Duplicate of #199

[2018-03-19 15:05] #213 closed

[2018-04-13 16:30] #210 closed

[2018-04-13 19:47] ethanwhite commented on #202
Since this has been sitting for a few months I think we should go ahead and make the change suggested by @remram44. I'm going to go ahead and get https://github.com/weecology/portal-teachingdb/pull/5 cleaned up and merged and the sqlite file updated.

[2018-04-13 19:54] pmarchand1 opened #214 "Minor issue re: COUNT"
In episode 02, the section introducing HAVING starts using COUNT(species_id) instead of COUNT(*), but the distinction between those two forms (how they treat NULL) is only explained later in the lesson. Perhaps it would be simpler to use COUNT(*) until the discussion of NULL values?

[2018-04-13 20:04] ethanwhite commented on #202
I've merged weecology/portal-teachingdb#5 and updated the file on figshare. Since it doesn't look like that file is hard-linked anywhere (just the top level DOI) this should be all fixed. Thanks again reporting this issue and the discussion to figure out the best way forward @remram44!

[2018-04-13 20:04] #202 closed

[2018-04-13 20:35] pmarchand1 commented on #179
The optional challenge 5 in episode 03: "What is the percentage of each species in each taxa?" also seems to require complex sub-queries, so I would suggest removing it (I will do so in my pull request for this issue).

[2018-04-13 20:43] pmarchand1 commented on #179
I haven't looked into integrating the solutions from #187. The main difference is that they include a few solution notes, not sure what is the Data Carpentry standard for those.

[2018-04-16 21:13] remram44 commented on #202
Thanks @ethanwhite! The setup page links to `http://dx.doi.org/10.6084/m9.figshare.1314459`, is that updated?

[2018-04-16 21:17] remram44 commented on #214
I personally find using `*` in the presence of `GROUP BY` somewhat unintuitive, but you are correct. I guess the change should be made?

[2018-04-18 23:27] ethanwhite commented on #202
It is updated and the data types read as `Numeric`, but I see the same behavior. This suggests that https://github.com/weecology/portal-teachingdb/pull/5 didn't end up solving the issue. @remram44 if you have some time to explore this I'd be happy to get another fix in and the data updated again.

[2018-04-24 21:43] remram44 commented on #202
Indeed my patch doesn't work :pensive: Apologies! It is possible that this is version dependent, or I just messed up during testing. weecology/portal-teachingdb#7 is a tiny change that should fix it.

[2018-04-25 01:35] ethanwhite commented on #202
Thanks @remram44. No problem at all, that's definitely a confusing one. I've merged your PR, rebuilt the sqlite file, and replaced it on figshare. I downloaded it from figshare at the link above and tested it. The integer division looks like it's gone to me. Thanks again for bringing this up and for all the work on the fixes.

[2018-04-25 17:38] aelfric commented on #211
We're also trying to migrate from Firefox to DB Browser and this difference bit us unexpectedly.  I'd vote for an option to treat blanks as `NULL` on the import screen.

[2018-04-25 19:51] remram44 commented on #211
FYI I sent sqlitebrowser a pull request: sqlitebrowser/sqlitebrowser#1349

[2018-04-26 12:00] mkweskin commented on #211
Quite amazing that you did that! That's real commitment to DC 😄

[2018-05-04 16:03] #211 closed

[2018-05-24 12:51] justinclift commented on #211
As a follow up thing, the code to make this work better, as submitted by @remram44 was merged into DB Browser for SQLite (DB4S) a few days ago:

So, now it's in our automatically generated nightly builds:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org

There's a sub-directory on that server for each OS:

* https://nightlies.sqlitebrowser.org/win32/
* https://nightlies.sqlitebrowser.org/win64/

[2018-06-06 09:21] mebrahtub commented on #214
-

-

-

-

- [ ]

- [ ]

- [ ]

**

[2018-06-11 20:43] fmichonneau opened #222 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-11 20:48] remram44 commented on #222
There seems to be some labels left from before (we can remove no problem, but if you're using a script, it might have a bug)

Cheers,

[2018-06-11 21:14] fmichonneau commented on #222
If there were labels left from before is that I didn't want to re-assign things without checking the maintainers first. It looks like you take care of it though. thanks!

[2018-06-11 21:54] #222 closed

[2018-06-12 18:50] orchid00 opened #223 "Database types issues witDB Browser"
Hello Maintainers!

I hope you are doing well!
Today June 12th, 2018, during a data carpentry workshop SQL lesson. We discovered some little nuances about types.

I'm new to DB Browser although I have experienced with databases.
DB Browser might have some issues

For example,

[code]
for some reason shows this

MAX(weight)|MIN(weight)|AVG(weight)|COUNT(weight)
---|---|---|---
0  |4.0   |38.7519761

[2018-06-12 18:59] remram44 commented on #223
Hi @orchid00! Thanks for reporting this, it is actually a duplicate of #211. I have patched DB Browser already (https://github.com/sqlitebrowser/sqlitebrowser/pull/1349), so the next version shouldn't be affected -- but perhaps we should update the instructor guide to make everyone aware of this issue, the fact that it might only affect some versions of the software, and the fix (which you mention

[2018-06-19 19:27] neausda opened #225 "creating and populating a database using the GUI"
Start a New Database

    Database -> New Database
    Give a name Ok -> Open. Creates the database in the opened folder -HERE THE USER CAN CLOSE THE DATABASE AND THEN DOUBLE CLICK ON WHERE THEY SAVED IT

Start the import Database -> Import - HERE - IT IS FILE -> IMPORT
Select the surveys.csv file to import
Sincerely,

Jonathan Shao

[2018-06-19 19:36] kyeater opened #226 "Objective list in Databases using SQL lesson"
The 4th Objective states that we will Select, Group, add to, and analyze....I don't think this is being accomplished in this lesson.  The Select and Group and add to really happens in the second Lesson of this series where Basic Queries in SQL is introduced.  There is no real analysis happening in this lesson. Thanks.

[2018-06-19 21:09] remram44 commented on #225
Hi @neausda! I don't understand what you are trying to say. Is there an issue somewhere?

[2018-06-19 21:13] remram44 commented on #226
Hi @kyeater and thanks for the feedback! The idea is to give users the tools to do the queries they need to do on their data, doing an analysis on what the results mean is somewhat out of scope.

Do you have any concrete steps that would improve the analysis part presented in the lesson? Do you think we should be trying to answer more meaningful questions about the data?

[2018-06-20 19:51] kyeater commented on #226
I think I have a different working definition of "analyze"; when I use that word in relationship to some data, I am thinking about applying a statistical method to summarize and/or begin to make inference about a question. It could be descriptive in nature, like calculating means, ranges, variances, etc., but that is an "analysis" - so that is why I suggest not including that wording choice in the

[2018-06-20 19:58] remram44 commented on #226
I don't think "analysis" is an inherently statistical term. Also note that episode 02 does compute averages, sums, and ranges over the data or subsets of it.

[2018-06-27 11:11] steltenpower opened #229 ""Getting Started" block and "Setup" page are almost a repetition of each other"
In many situations people like the Don't-Repeat-Yourself (DRY) principle and I miss it in:
"Getting Started" block and "Setup" page are almost a repetition of each other
Are there any (template) rules to take into account before I suggest changes to both "Getting Started" block and "Setup" page? Is this "Setup" page linked to from other than this lesson overview page?

[2018-06-27 11:13] steltenpower commented on #229
http://www.datacarpentry.org/sql-ecology-lesson/setup/ is visually off too

[2018-06-27 11:58] steltenpower opened #231 "highlight part of the query to focus on ?"
For example: Where you're learning about LIMIT, highlight that line of the query?

[2018-06-27 15:00] remram44 commented on #231
Hi @steltenpower, this is probably a good idea, however I am not sure how to do that in markdown. I don't think you can use e.g. bold within a code block.

[2018-06-27 15:02] remram44 commented on #229
I don't think there is so much repetition between the too. You are welcome to propose improvements to those pages, though you might want to wait for #232 to be merged (fixing the display issue for the setup page).

[2018-06-29 20:54] ErinBecker opened #233 "action items from Curriculum Advisors"
Sorry - I put this issue in the wrong OpenRefine lesson.

[2018-06-29 20:55] #233 closed

[2018-06-30 20:21] kokbent opened #234 "Serious issue with importing CSV to database using DB Explorer"
When importing CSV to database using DB Explorer, missing values are not interpreted as "NULL" but simply as blank regardless of whatever datatype you declare. This becomes a serious issue when we talk about aggregate later.

I've recently taught the workshop and reminded the learner to close the "imported database" and open the SQLite file that comes with the data pack (for the rest of the lesson

[2018-06-30 20:22] #225 closed

[2018-07-01 14:52] #234 closed

[2018-07-01 18:37] remram44 opened #235 "Check all links and update to recommended syntax"
See https://github.com/datacarpentry/sql-ecology-lesson/pull/232#issuecomment-400759838

[2018-07-06 22:36] dannguyen commented on #199
OK I just stumbled upon this thread when searching for the state of SQLite3 in Firefox and other browsers (I had heard that SQLite Manager had stopped working, from other data journalism editors). I just want to say that I was pleasantly surprised to discover that DB Browser for SQLite, which is what I've used for a few years (with great satisfaction) for teaching, apparently has visualization fun

[2018-07-07 00:01] justinclift commented on #199
Thanks @dannguyen, that's very much appreciated.

As a thought, we recently created a [Patreon account](https://www.patreon.com/db4s).  If you know of people who would be up for sponsoring us, that would be very welcome too. :grin:

[2018-07-13 23:19] jeremywalter opened #238 "Import Section - Directions outdated"
The current version of DB SQLite doesn't have the tabs or organization described in the module. As a novice, without being able to actually follow the instructions, it's unclear what the purpose of the instructions are.

[2018-07-14 16:14] remram44 commented on #238
Hi @vindie13,

Are you referring to [this section of the introduction](https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/#import)? Indeed this might need updating after our switch to DB4S.

Thanks for pointing it out!

[2018-08-14 19:52] rsh249 opened #240 "Introduce JOIN by showing a two table SELECT first"
This is referring to the material in Episode 3 (https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html).

In my experience with SQL it seems that the logical progression to introduce JOINs is to first introduce SELECT statements with more than one table as is done below with the brief reference to implicit JOINs in the WHERE clause.

Lines 88-96 in the .md file for this episode appea

[2018-08-24 18:25] amyehodge commented on #238
I started reviewing this lesson today and am working on the PR to make all the necessary fixes.

[2018-08-24 18:49] amyehodge commented on #238
I just submitted PR #241 for this.

[2018-09-25 21:38] kglibrarian opened #244 "View menu question in "SQL Aggregation and aliases""
I had some confusion when reviewing the "SQL Aggregation and aliases" lesson, in particular the "Saving Queries for Future Use" section of the course:

_"You can also add a view using Create View in the View menu and see the results in the Views tab, the same way as creating a table from the menu."_

I'm not very familiar with DB Browser for SQLite, but my "View" menu doesn't have "Create View" in

[2018-09-26 03:04] remram44 commented on #244
We have probably just missed those instructions from the old Firefox plugin. We'll need to update them for db4s.

https://github.com/datacarpentry/sql-ecology-lesson/blob/0cd347da74fb362fd204e68fc65a66649bf09121/_episodes/02-sql-aggregation.md#L209

[2018-09-28 22:00] henrykironde opened #245 "Import does not work correctly with current release DBBrowser"
@amyehodge noted that Import on the current  DBBrowser does not work as expected.
I have tested the issue with @fmichonneau and we found that the current stable version of DBBrowser
does not import data correctly.
However,  the nightly builds has the import function working as expected.
I have requested the folks at sqlitebrowser to release a new stable version. This will be resolved after the rel

[2018-10-01 19:45] remram44 commented on #245
Background on the problem: #211, my patch went in in May: https://github.com/sqlitebrowser/sqlitebrowser/pull/1349

[2018-10-11 15:10] djb5 opened #246 "DBBrowser asks for password on Mac"
When I open the database using the DB Browser on my MAC it is asking for a Password. I did not find the password in the instructions

[2018-10-20 18:13] V-Sher opened #247 "Objectives for the "Basic Queries" lesson do not match the content."
This is referring to the material in Episode 2 http://datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries/index.html

Problem - For this chapter - Basic Queries, its objectives (including the title) do not match the content therein. There are some complex queries in the latter half of the lesson (in the section 'Building more complex queries') which can be intimidating for novice learners.
S

[2018-10-20 21:12] remram44 commented on #247
Hi @V-Sher! Thanks for the feedback.

I don't know how I feel about this. The queries are still "simple", in that they don't use subqueries, joins, aggregations, or unions, which are introduced later.

The lesson could use more episodes for sure, but I don't know if the title is such a bad match. If you want to take a crack at make such a flowchart, or some reorganization of episode 1, we will cer

[2018-10-31 20:23] V-Sher commented on #247
hi @remram44 ,
Thank you for your comment.

For me, the section heading "Building more complex queries" was a bit offputting. Until later I learned that it simply meant 'building more complex WHERE conditions' which, as you rightly said' is still part of basic queries. Having said that, I would still put those in new episodes to ease off information overload for a novice like myself.

The flowchar

[2018-11-19 22:33] cla473 opened #250 "Objectives not covered in the lesson"
Re:  https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html
The lesson includes two Objectives:
  *  Select, group, add to, an analyze subsets of data, and
  *  Combine data across multiple tables;
which are not covered in this lesson, and should be removed.

[2018-11-26 06:04] cla473 opened #252 "SQL Aggregates and aliases record counts are incorrect"
I am referfing to https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html

Under the 'What About NULL?' heading, the first paragraph states "From the last example, there should only be six records" .... there are only 5 records.  The third paragraph in this section also has 'six records'

I have looked at both the database provided, and imported the data from the csv files, and

[2018-11-26 06:07] cla473 opened #253 "SQL Aggregates and aliases - Key Points - incorrect Keyword - AVERAGE"
This refers to:  https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html

The Key Points at the bottom of the page lists Functions like MIN, MAX, AVERAGE, SUM, COUNT.
AVERAGE does not work, and is not a valid function, it should be AVG.

[2018-12-03 17:56] remram44 commented on #252
Ha, you are right! There are only 5 records, 3 of them non-null. The data must have changed. Thank you for reporting this!

[2018-12-04 04:37] remram44 commented on #253
Haha oops, good catch! Thanks for taking the time to let us know!

[2018-12-10 13:45] sheraaron opened #257 "Lesson Contribution - Yoong Kuan Goh (Andrew)"
Lesson: Data Management with SQL for Ecologists in Data Carpentry
Chapter: 4 (Joins)
Proposed changes: Add three diagrams for 'Inner Join', 'Left Join' and 'Right Join'
Reason: Show the equivalent of different SQL joins respective to Venn diagrams.
Attachments: 3 SVG diagrams
[Attachments(3).zip](https://github.com/datacarpentry/sql-ecology-lesson/files/2663348/Attachments.3.zip)

[2018-12-10 14:32] remram44 commented on #257
Hi @sheraaron, thanks for the contribution!

Note that those tickets are directed at the lesson maintainers (me), not the instructor trainers, so there is no need to include this information -- you just need to email checkout@carpentries.org with a link to this page.

[2018-12-11 16:25] kingmanzhang commented on #257
@sheraaron This is great work!

I read a book by Hadley Wickham and thought their diagrams look really great too. So here I recreated them for consideration
[inner join vs left join.pptx.zip](https://github.com/datacarpentry/sql-ecology-lesson/files/2668403/inner.join.vs.left.join.pptx.zip)
.  Hope this helps.

[2018-12-11 18:17] kingmanzhang commented on #257
It's good that you pointed this out. I had not thought a lot on licensing issues. But fortunately, they are free!

Refer to the copyright page of the book (online version):
https://r4ds.had.co.nz
"This website is (and will always be) free to use, and is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 License."

Even better, they had already provided the electronic versio

[2018-12-11 18:40] remram44 commented on #257
I see! I thought the point of this part of the checkout process was to ensure familiarity with the lesson contribution process though 🤔

[2018-12-20 21:15] brainwane commented on #107
Hi, and sorry for the wait. I won't be doing this, but [I posted on Twitter](https://twitter.com/brainwane/status/1075862195232272384) and [Mastodon](https://mastodon.social/@brainwane/101275434570634162) to recruit folks to try to help.

[2019-01-24 18:30] anneglaser opened #258 "Improve description of statements/clauses (checkout)"
It would be helpful to add a quick description of some of the statements used. Mainly the select statement since I know when I first started I had concerns on if I was changing the underlying data or not. Also the group by, it would be useful to call out that the group by identifier must exist in the select statement.

Description:
SELECT statement can access data in a database and returned specif

[2019-02-09 03:27] justinclift commented on #245
We finally got of the needed bits done, so the new release was made yesterday:

&nbsp; &nbsp; https://sqlitebrowser.org/blog/version-3-11-0-released/

[2019-02-09 10:06] henrykironde commented on #245
New release solves this problem. Thanks to @remram44 and the folks at Sqlitebrowser.

[2019-02-09 10:06] #245 closed

[2019-03-29 17:10] sgthomas29 commented on #107
![conceptmap_relationaldatabases](https://user-images.githubusercontent.com/46786506/55250016-5aa70280-521b-11e9-8b47-1a8ef52079de.JPG)

I'm willing to work on this, but I'm unsure of where in the lesson this would go. The very beginning to convince students why relational databases are superior to spreadsheet management?

[2019-03-29 17:50] remram44 commented on #107
I don't think RDM is a widely used acronym for relational databases. [Wikipedia](https://en.wikipedia.org/wiki/Relational_model) refers to it as RM. It also conflicts with other acronyms that people are likely to encounter in an academic setting, such as Research Data Management.

[2019-04-01 19:20] brainwane commented on #107
The concept map would go into the instructor's notes for the lesson. This would aid future people who are improving the lesson.

[2019-04-16 21:45] fmichonneau opened #261 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [ ] Example code chunks run as expected
- [ ] Challenges

[2019-04-24 21:51] akrogman commented on #258
I second this comment. I think it would be helpful to explicitly say what SELECT is doing and ease some of the fear around changing the underlying data set.

On a similar not, I think it is necessary to point out syntax structure, like what clause is and what the semicolon does.

[2019-04-25 17:21] sbhave77 opened #262 "Add a description table for SQL keywords (checkout)"
It would be useful to provide a table (in markdown for example) which provides descriptions about how each SQL query works (as a cheat sheet) for the learners. This will decrease cognitive burden due to having to remember all of these keywords and their use cases. Something like this (although the wording could use some work):

| SQL Keyword | Description  |
|---|---|
| SELECT | specifies which co

[2019-04-30 11:34] MathildeMousset opened #263 "Text clarification in lesson Home"
In the **Getting started** box, I suggest to reorganize the sentences a bit to fluidify the text:

# Prerequisites

This lesson requires a working copy of **DB Browser for SQLite for SQL**, and a dataset. Follow the directions in the [Setup](https://datacarpentry.org/sql-ecology-lesson/setup.html) tab to download **DB Browser for SQLite** and the data to your computer and follow any installation i

[2019-04-30 11:47] MathildeMousset opened #264 "Add short info about the dataset in Setup page"
In the **About the data** part, I expected some quick info about what the dataset is. I suggest to either copy the [paragraph from the introduction to the ecology workshop](https://datacarpentry.org/ecology-workshop/) (see below), or link to it.

# About the data

[2019-04-30 11:57] MathildeMousset opened #265 "Small suggestions in 00-sql-introduction"
1. **Suggestion to change**

into

(I think that it's akward to use "where" with "tool")

2. **Add figure to help define relational Databases?**
In the **Definition: Relational Database** box, the text is both exact, and yet difficult to parse at first. Maybe a little figure with two or three tables could help getting a visual model.

3. **Link to more info on quality control**
In the **Why use re

[2019-04-30 12:04] MathildeMousset opened #266 "01-sql-basic-queries: adding basic information on SQL code at the begining"
When learning to write my first queries, I was missing a couple of information, which are given in later.

1. **The ";"**
I would be good to explain what is the role of the comma (the query works without it, why bother?)

2. **Line breaks**
The learner needs to know whether line breaks are necessary for the code to work. The information is given at the end of the episode, and I suggest to move it

[2019-04-30 12:11] MathildeMousset opened #267 "Spliting the COUNT & GROUP BY paragraph (02-sql-aggregation)"
I suggest to split the **COUNT and GROUP BY** section.

When I did the lesson, I was a confused because there is `GROUP BY` in the title, and the first sentence explains the concept of aggregating based on some value. Yet the next three examples and the challenge **are not**  using `GROUP BY`.

I would suggest split this section in two:

### Aggregating / summarizing all records
### Aggregating ba

[2019-04-30 12:22] MathildeMousset opened #268 "Not the same numbers on my computer (02-sql-aggregation)"
After creating the summer_2000 view, when I execute the code on my computer, I obtain only five records where the text specify six. I have only three non null values (the text says there should be four).

Not sure what is happening here. I downloaded the database again and copied-pasted the code directly from the course, but the result remains the same.

[2019-04-30 12:33] MathildeMousset opened #269 "Move a challenge from 03-sql-joins to 02-sql-aggregation ?"
In 03-sql-joins, I am confused by the inclusion of the the challenge within the JOINING episode:

[code]

As far as I understand, this challenge is less about joining than about counting, and dealing with counting nulls. My suggestion is to include it in the **COUNT** part of 02-sql-aggregation episode

**Additional suggestions**

- I would add information on the existence of `IS NOT NULL` command

[2019-04-30 12:44] MathildeMousset opened #270 "Small comments aliasing (03-sql-joins)"
I was confused by the example on aliasing at the end of **03-sql-joins**.

I don't think that changing all by-now remembered tables and field names is making the query _clearer_, just _shorter_. It is, however, harder to read, as one has now to concentrate extra hard to learn the new names. Why renaming the tables?

I would simplify the example as below:
[code]

Additionaly, I did not wanted to cr

[2019-04-30 12:49] MathildeMousset opened #271 "Rewording of optionnal challenges (03-sql-joins)"
1. Suggestion of rewording of optionnal challenge 2:
"How many specimens are there of each sex, and for each year?"

2. Need to add complementary info to challenge 2 and 3?
For the challenge 2, from the question, I don't understand why we filter the NULL out, since it is interesting to know how many individuals could not be sexed. Specify it in the question?
(similar holds for challenge 3)

[2019-05-14 22:40] ErinBecker commented on #261
Closing this issue due to inactivity. If you'd like this lesson to be included in the June release, please reopen. Let me know if you have any questions.

[2019-05-14 22:40] #261 closed

[2019-05-15 15:15] remram44 commented on #261
Hi,

This lesson is in terrible shape, mostly due to the lapse in maintainers. I also have very little time to dedicate to it, definitely way less than it would take to update this lesson.

The constant stream of template changes is not kind on unmaintained lessons (with very few benefits actually).

I think at this point it might be worth considering merging this with the software carpentry lesso

[2019-08-15 13:21] #253 closed

[2019-08-15 13:22] #252 closed

[2019-10-02 22:31] sstevens2 opened #274 "Order of SQL commands comic"
https://twitter.com/b0rk/status/1179449535938076673?s=21

Might be a good comic to reference depending on the license.

[2019-10-03 12:10] orchid00 commented on #274
Former maintainer here, giving my two cents, I love this, would ask here about licence? It might be just attribution and link to source.

[2019-10-03 14:05] sstevens2 commented on #274
Seems like the author typically sells these, so I'm guessing we can't use them in Carpentries lessons?
@jvns could you lets us know what you think about this usage and your licensing?  Many thanks for posting your comics on twitter in either case!

[2019-10-03 14:11] jvns commented on #274
go ahead! how about you just reference https://wizardzines.com or the zine it's part of (which isn't out yet) when it comes out?

[2019-10-03 14:17] remram44 commented on #274
Thanks! I see that you encourage people to print their own, but I don't see an explicit license. Of course you don't have to put one up, asking for permission works too (thanks for granting it!)

[2019-10-06 10:16] dpshelio opened #275 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-10 05:48] fmichonneau commented on #275
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-10-10 05:48] #275 closed

[2019-10-28 13:10] emjonaitis commented on #271
For issue 271 part 1, I don't think the suggested rewording represents the same question; I think to answer that question would require two separate queries.

For part 2, I agree with this. I think it's good to give people exercises where they specifically have to think about how to handle null values, but I also think the null values could be of substantive interest here. I'd suggest we split the

[2019-11-23 16:21] maneesha opened #277 "Note differences between different database management systems"
On the [SQL introduction](https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html) page, we note:

This is misleading, as there are many other differences between different database systems.  For example, SQLite does not do every kind of `join` (inner/outer/full/left/right).   Acceptable syntax can also vary across DBMS platforms.  I would suggest expanding or revising this par

[2020-03-18 19:30] bezaye commented on #277
@maneesha  your are right, its more than misleading but rather wrong actually.  It can be difficult to explain their difference in detail because this is an introduction lesson. Otherwise we will end up being out of scope covering distributed systems, or performance and scalability and so on. What about editing it like this instead?
************************************
There are different database

[2020-03-18 20:44] maneesha commented on #277
Agreed that  deep level description of various DBMSs is way out of scope here, but we should not have any wrong or misleading information here.  I've just made one edit to avoid a sentence fragment:

[2020-04-06 23:24] skk74 opened #284 "Adjustment to wording in SQL Aggregation and Aliases Lesson"
In the Aliases section the example with and without the AS keyword are not the same. I suggest adjusting the example with the AS keyword to read

[code]

[2020-07-01 05:14] katyfelkner commented on #63
This is an old issue, but I think it is worth bringing up again. We need diagrams in Episode 03 to explain the different types of joins. I would suggest using a simplified version of @tpoisot SVG. Specifically, I think we should have a diagram of what a cross product means after the second paragraph of the lesson, as a visual explanation of why the cross product of tables is usually not what a use

[2020-07-01 18:04] ilmcconnell opened #287 "Clarification to Databases using SQL lesson"
In the 'Questions' section the text states:

The data was already downloaded in the setup section, and the learners are again reminded to do that at the beginning on of the lesson. I would expect this text to reference the already downloaded files like so:

[2020-07-02 22:45] MargoLawrence commented on #287
The lesson is designed to get the learner up to date with the data in the files.  The challenge states that they want them to find what information is in each file, and how they would be answered.  The goal of the lesson is to understand the strength of a database vs a dataset in a spreadsheet, this can only be accomplished by trying to answer the questions in the challenge.

[2020-07-04 16:21] ilmcconnell commented on #287
@MargoLawrence I completely agree. I’m only trying to point out that the learners don’t need to download the files a second time.

[2020-07-22 22:05] Wang-Jing-NZ opened #288 "add a step to setup page to test all the files and software have been downloaded and installed"
and also add **<**(previous page, in this case it is the home page), **>**(next page, in the case it is the first lesson) to improve the usability and easy navigation like what we can see other lesson pages

Text suggest to add:

**Make sure everything is working before starting your lesson**

open DB browser
click on "open Database" > locate the unzipped file
you should see three tables: "plots",

[2020-07-30 16:42] ChristinaLK commented on #287
Hi @ilmcconnell ! :)

thanks for pointing this out. it's likely there because we want people to have the right data (which they may have lost / not downloaded correctly / who knows since the last lesson), but I think we could clarify to say either - use these files from before or download them again if you don't have them for some reason.

[2020-07-30 16:45] ChristinaLK commented on #288
Some follow up questions for you @Wang-Jing-NZ

- regarding the arrows - is your suggestion that we add text labels to the existing `<` and `>` arrows on each page that lead to the previous/next pages? Or something else?

- Which part of the lesson should have the text you've suggested to make sure everything is working?

[2020-07-31 03:58] Wang-Jing-NZ commented on #288
Re: navigation arrows:
see this page: https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html, it has arrows to go back to the course home page and the next page. however, on the setup page, https://datacarpentry.org/sql-ecology-lesson/setup.html, it doesn't have navigation arrows to go to the home page or to the next page to start the lesson. The learner needs to use the "go b

[2020-08-06 19:10] ChristinaLK commented on #288
That clarifies things. Thanks!

[2020-08-07 02:12] ChristinaLK opened #289 "repo cleanup checklist"
- [x] message maintainers slack about protected branch + styles update
- [x] make an issue about updating from `styles` and tag Francois
- [x] merge all straightforward PRs (no changes to structure or content)
- [x] go through existing issues
- [x] close stale/old issues
- [x] tag remaining issues
- [x] create new (non-redundant) issues from the list below
- [x] make a project (?) for longer-term/

[2020-08-12 01:17] #206 closed

[2020-08-12 02:15] ChristinaLK commented on #288
After reviewing the lesson, we already have fairly detailed instructions on loading up the database and/or the .csv files in the initial section; I don't want to duplicate that in the Setup, but we could add a link from Setup to that section of the lesson if people want to test their downloads.

Because the navigation arrows would be something that apply to the general format of the lesson, that s

[2020-08-12 02:18] ChristinaLK commented on #284
Great point @skk74 . I'd even go a step farther and say that the example that doesn't include `AS` should use the same aliases:
[code]

[2020-08-12 02:24] ChristinaLK commented on #270
Thanks for this observation @MathildeMousset. I think the reason to alias the tables is as you've mentioned - to make the query shorter - because otherwise it takes FOREVER to type. However, the speed comes at the cost of clarity! I think it would be worth hearing from people who have taught the lesson about the trade-offs.

(We do introduce aliases in a previous episode, so this is not the first

[2020-08-12 02:28] ChristinaLK commented on #268
Thanks for reporting. A next step would be for someone to replicate this issue by running through the "Saving Queries for Future Use" section of the [aggregation episode](https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html) and seeing how many records they get from the final query of that section.

I will try to get to this at some point, but other volunteers are welcome. :)

[2020-08-12 02:31] ChristinaLK commented on #266
Thanks for these suggestions!

I think (1) would be great as a callout box -- it's not essential to continuing with the examples but would be good to have in the lesson somewhere.

Your suggestion for (2) makes sense to me, particularly since we use line breaks from the beginning. We don't really use indentation in the lesson, but could add a note about (3).

[2020-08-12 02:36] ChristinaLK commented on #262
Thank you for this suggestion @sbhave77 . We could include a table like this in the `reference` section of the lesson.

It would also be nice to have a link to a pdf or similar document that instructors could print out and give to their students. Worksheet reference recommendations can be added to this issue.

[2020-08-12 02:39] ChristinaLK commented on #258
Also might be addressed by #262 (reference table) and #266 (semi-colon and how queries are structured)

[2020-08-12 02:40] ChristinaLK commented on #246
Can this be reproduced / has it been seen before?

[2020-08-12 02:46] ChristinaLK commented on #240
Thanks for sharing! I myself don't know much about implicit joins, so I shouldn't be the only person to weigh in on this subject. I'll share my thoughts but tag this issue as open for discussion so that others can chime in!

## To discuss: What are the relative merits of teaching people about explicit versus implicit joins?

[2020-08-12 02:48] ChristinaLK commented on #240
My thoughts: As more of beginning SQL user, I like using JOIN because it's more explicit and helps build up that "node" in my mental model of SQL queries. Using WHERE is shorter, but overloads that keyword with another meaning. I think the priority of this section should not be "speed" or even necessarily presenting all the options, but presenting JOINs in a way that will best build up a mental mo

[2020-08-12 02:48] #238 closed

[2020-08-12 02:48] #235 closed

[2020-08-12 02:49] ChristinaLK commented on #231
This would now be a `styles` question. @fmichonneau is this worth pursuing for the lessons in general, or should I just close the issue?

[2020-08-12 02:54] ChristinaLK commented on #223
Sounds like the software was patched to solve this problem, so I will close this issue.

[2020-08-12 02:54] #223 closed

[2020-08-12 03:00] ChristinaLK commented on #179
all exercises appear to have solutions.

[2020-08-12 03:00] #179 closed

[2020-08-12 03:04] ChristinaLK commented on #289
Tagging scheme (right now):

- `type:bug` for inconsistencies/broken things + `status: need more info` to replicate or `help wanted` to actually fix
- `help wanted` on its own indicates something that's ready for a PR, with `good first issue` should be a simpler PR
- `type:discussion` for ideas that need more feedback from the community (many also tagged w/ `help wanted`)
- `type:enhancement` for

[2020-08-12 03:05] ChristinaLK opened #290 "Update maintainer list"
add Katy + Christina, confirm current group

[2020-08-12 03:06] ChristinaLK commented on #289
Plan a bug BBQ for all the little changes? And get people to contribute to discussion?

[2020-08-12 03:09] ChristinaLK opened #291 "First episode - what do people think about the organization?"
I'm interested in how people have taught the first episode of this lesson and how it's gone. Does the order make sense? Are learners bored out of their minds? What problems crop up and how could they be avoided?

Feedback welcome!!

[2020-08-12 03:11] ChristinaLK opened #292 "Check all episodes for correlation between objectives + content"
- [ ] episode 1
- [ ] episode 2
- [ ] episode 3
- [ ] episode 4

[2020-08-12 03:13] ChristinaLK opened #293 "search for just"
Run over the lesson once looking for "just" and remove if appropriate.

[2020-08-12 03:19] ChristinaLK opened #294 "Restructure episode sections around research questions"
When I teach this lesson, I try to hammer home that these queries need to be driven by the question you're trying to answer. We could set up each lesson section with a:
- what question are you trying to answer / what data are you trying to extract
- example of how you do that in SQL
- exercise, phrased as scientific question *and* how to construct a query (e.g. "how would you get the data needed t

[2020-08-12 03:20] ChristinaLK opened #295 "Split episodes"
A few other issues have mentioned this as well. It would be good to split this lesson into more episodes.

[2020-08-12 03:22] ChristinaLK opened #296 "introduce the concepts of split/apply/combine more explicitly"
Especially in the aggregation section, but maybe also in basic queries.

[2020-08-12 12:58] fmichonneau commented on #231
I'm going to transfer this issue to the styles repo. I don't think it's something we can address in the short term, but might be worth exploring in the future.

[2020-08-12 13:00] fmichonneau commented on #231
closing in favor of https://github.com/carpentries/styles/issues/492

(we can't transfer issues across organizations...)

[2020-08-12 13:00] #231 closed

[2020-08-12 16:56] ChristinaLK opened #297 "Rehome or remove orphan files"
`sql-solutions.md`

`sql_cheat_sheet.md`

`00-supplement-database-design.md`

[2020-08-12 17:22] ChristinaLK opened #299 "Update with styles"
@fmichonneau this lesson is surely WAY behind on `styles`. Can you help bring it up to date?

[2020-08-12 17:33] ChristinaLK commented on #271
Closed by #276

[2020-08-12 17:33] #271 closed

[2020-08-13 18:32] #299 closed

[2020-08-24 23:42] SebastianMosidi opened #301 "What is Sql (00-sql-introduction.md)"
What is SQL
SQL stands for Structured Query Language. SQL allows us to interact with relational databases through queries. These queries can allow you to perform a number of actions such as: insert, update and delete information in a database.

can we edit it to the following

These queries can allow you to perform a number of actions such as: insert, select, update and delete information in a dat

[2020-08-26 23:45] ChristinaLK commented on #301
Thanks for the suggestion @SebastianMosidi. That addition is helpful because it addresses the majority of what is covered in the lesson.

I'll tag this issue as ready for a submission to the lesson.

[2020-10-23 23:44] ltngo commented on #293
Hi! I removed the unnecessary uses of the word "just" (only showed up on two pages in the lesson) and submitted the pull requests as a part of my instructor checkout. Hope it's helpful!

[2020-10-24 15:23] ChristinaLK commented on #293
Thanks @ltngo ! I don't see your changes yet - if you made them in your own fork of the repository, the final step is to submit your changes as a PR.

If you go to your fork of the repository, you should see a "Pull request" option in the box above the list of files. If you click on that, it will compare your repo w/ the main one; you'll want to select the branches with your changes from the right

[2020-10-25 05:17] ltngo commented on #293
Sorry, had a Friday afternoon brain lapse. I submitted the pull requests - hopefully you can see them now!

[2020-10-25 19:50] ChristinaLK commented on #293
Yes! Will review and merge. Thanks again. :)

[2020-10-26 13:55] #293 closed

[2020-11-09 21:48] #301 closed

[2020-12-02 21:55] ChristinaLK commented on #229
I think this has been resolved in later PRs or reorganization.

[2020-12-02 21:55] #229 closed

[2020-12-02 22:30] ChristinaLK commented on #268
Reproduced, and someone else already changed the text (?).

[2020-12-02 22:30] #268 closed

[2020-12-02 22:57] ChristinaLK commented on #297
- moved the text of `sql-solutions.md` to the instructor notes
- moved `sql_cheat_sheet.md` to the `files/` subdir and linked from the reference page
- moved the text of `00-supplement-database-design.md` to the discussion page

[2020-12-02 23:02] ChristinaLK opened #309 "next set of projects"
Major projects from the project board:
- add diagrams
- synchronize objectives
- general organization of episodes and content

Plus
- outstanding issues (marked w/ `help wanted`)

- [ ] Coordinate w/ maintainers to see if anyone else wants to tackle a specific project
- [ ] Organize a small (?) Bug BBQ to tackle small issues
- [ ] Host 1-2 discussions about the lesson
- [ ] Turn the reorganization

[2020-12-10 03:10] ChristinaLK opened #310 "Contribute to this lesson!"
- `type:bug` for inconsistencies/broken things + `status: need more info` to replicate or `help wanted` to actually fix
- `help wanted` on its own indicates something that's ready for a PR, with `good first issue` should be a simpler PR
- `type:discussion` for ideas that need more feedback from the community (many also tagged w/ `help wanted`)
- `type:enhancement` for more "creative" projects. All

[2020-12-10 03:11] ChristinaLK commented on #289
Created pinned issue for contribution guidelines.

[2020-12-10 03:11] #289 closed

[2021-01-06 22:27] ChristinaLK commented on #294
I think this is a little ambitious and not really needed. Will table for now.

[2021-01-06 22:27] #294 closed

[2021-01-06 22:27] ChristinaLK commented on #295
Based on feedback from 2021-01-05 community discussion - number of episodes seems to be okay. Maybe just need to clean up the flow within episodes.

[2021-01-06 22:28] #295 closed

[2021-01-06 22:48] ChristinaLK opened #312 "Provide feedback about the lesson"
Hi all!  Please let us know if you are teaching this lesson by copying the info below and replying to this issue.

[2021-01-06 23:15] ChristinaLK opened #313 "things to delete or make optional"
* views
* aliases
* IFNULL

[2021-01-06 23:17] ChristinaLK commented on #63
Suggestion for JOIN diagrams - repurpose these: https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html

[2021-01-06 23:25] ChristinaLK opened #314 "instructor note additions"
from the 2021-01-05 community discussion, these themes arose, which could be added to the instructor notes or the introductory episode.

- important to get to joins
- important to talk about getting data in/out of databases
- this example presents one example of database use, but maybe include something at the beginning/end that talks more about how SQL can fit into research workflows (looking up

[2021-01-06 23:29] ChristinaLK opened #315 "links to investigate later"
Database Amanda mentioned - ITIS?
* ITIS: Database of all species in North America (emphasis on United States). https://itis.gov/
* Database download files: https://itis.gov/downloads/index.html
* Very well documented data model: https://itis.gov/pdf/ITIS_ConceptualModelEntityDefinition.pdf
* As an example, each taxon is stored as a record in the database, and the actual scientific names are store

[2021-01-06 23:39] ChristinaLK commented on #246
Closing for now.

[2021-01-06 23:39] #246 closed

[2021-01-06 23:40] ChristinaLK commented on #226
out of date (I think)

[2021-01-06 23:40] #226 closed

[2021-01-06 23:41] #290 closed

[2021-01-06 23:42] #277 closed

[2021-01-06 23:44] #264 closed

[2021-01-06 23:44] #244 closed

[2021-01-07 00:06] #288 closed

[2021-01-07 00:08] ChristinaLK opened #316 "review SQL data types"
Make the table of data types MUCH shorter + sqlite specific and add links to a full sqlite definition and other standards.

[2021-01-07 00:09] #297 closed

[2021-01-07 00:16] ChristinaLK commented on #309
Maybe also write up my experience as a maintainer so far?

[2021-02-09 22:25] Talishask opened #318 "Lesson Contribution - datatypes INTEGER and SMALLINT"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

In the Introduction to Database and SQL lesson(https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html), I am recommending an addition(s). In the datatype

[2021-02-16 16:50] ChristinaLK commented on #318
Thanks Talisha. :)

We've had other issues opened about the data types, so will include this feedback if/when that section is revised.

[2021-03-01 12:48] nsoranzo commented on #316
Some comments/idea:
- DB Browser for SQLite allows only INTEGER, TEXT, BLOB, REAL and NUMERIC, so I'd just reduce the first "Data types" table to these 5.
- Covering all data types listed in e.g. the SQL:2016 standard is too long and quite likely out of scope for this lesson
- The seconda table could be renamed to "SQL data types in different servers" and replace the "Access" column with SQLite.

[2021-03-01 18:40] ChristinaLK commented on #316
@nsoranzo that first suggestion is exactly what we're looking for!

[2021-03-19 04:46] michaelshensky opened #320 "Typo Found in Aggregating and Grouping Data Episode (checkout)"
In the third sentence of the last paragraph in the Aggregating and Grouping Data Episode (https://github.com/datacarpentry/sql-ecology-lesson/blob/gh-pages/_episodes/02-sql-aggregation.md) the word "querying" is currently misspelled as "quering" and should be fixed.

[2021-03-23 06:10] aditya28sarin commented on #320
can you assign me this issue?

[2021-04-02 19:56] ChristinaLK commented on #320
yes @aditya28sarin ! Done.

[2021-04-14 18:14] acsimonson opened #321 "Link broken in Data Management with SQL ecology lesson, and wording suggestion"
At the bottom of the setup page, under Am I Ready?, the link to the first episode is broken.

In that same section, there is the following phrase: If you can follow the instructions under “Relational Databases” or “Import”, everything should have downloaded and installed correctly.

Perhaps consider revising to something like: The instructions for importing the data into the DB Browser can be foun

[2021-05-07 12:32] EmmanuelleRN commented on #262
Hi! Can I, please, assign this issue to me?

[2021-05-12 20:46] spbail commented on #284
I noticed that too, mind if I take this issue? (I'll go ahead and make a PR assuming that's ok :) )

[2021-05-17 16:54] Talishask opened #326 "Lesson Contribution - Lesson Order"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

The concept of NULLs is introduced in the "Aggregating & Grouping Data" episode. I suggest moving the "Functions COALESCE & NULLIF and more" section from the "Combining Da

[2021-06-02 18:59] ChristinaLK commented on #262
@EmmanuelleRN sorry to be so delayed - I haven't been keeping a close eye on this repository. This issue is now assigned to you.

[2021-06-02 19:01] ChristinaLK commented on #284
@spbail no problem - thanks for submitting the PR!

[2021-06-02 19:03] #284 closed

[2021-06-21 18:00] sjcorey commented on #314
I agree that it is very important to get to joins. I suggest that joins should include an instructor discussion of the types of joins that are possible with DB Browser for SQLite, while other joins are not. As a learner, a visual comparison of the types of table joins would help tremendously.

[2021-06-25 17:23] ChristinaLK commented on #314
I agree that a visual comparison would be super helpful!

[2021-08-12 21:50] kekoziar opened #332 "00-sql-introduction Instructions to select tables in "Browse Data" tab"
In 00-sql-introduction under the "Relational databases" section, it states

Except, that's not the functionality on my version of SQLite.  The table which opens when clicking in the "Browse Data" tab has no bearing on if you've selected a table in the "Database Structure" tab.  When first opened, the "Browse Data" tab will default to "Plots" (top table in list).  To select different tables, one ne

[2021-09-08 12:44] dvdan-jgm commented on #287
@ChristinaLK I will take this as my checkout contribution.

[2021-10-11 16:55] Talishask opened #336 "Lesson Contribution: Windows Issues"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

I noticed in preparing to do my teaching demo last night that the default installation of the windows version of DB Browser for SQLite doesn't have a query tab and doesn't

[2022-01-20 10:42] annajiat opened #337 "Need jump lists (anchors) for headings"
@zkamvar
We need to update style for this lesson so that jump lists (anchors for different sections) becomes automatically available for different levels of headings.

[2022-03-09 15:40] beepboopbirdy commented on #336
I am also on a Windows machine and used this lesson for my teaching demo last November.

I opted to use the portable version of DB Browser for SQLite. I still had the .zip file in my downloads, so I unzipped a fresh copy and the 'Execute SQL' tab was there. Today, I tried the installers for both 32-bit and 64-bit Windows, and the tab was there from the start as well.

For instances like this, I th

[2022-05-11 17:42] novica commented on #332
I can confirm the behavior as described by @kekoziar
I tested on Linux 5.17.5 and Windows 10 with DB Browser for SQLite Version 3.12.2 on both.

[2022-05-20 23:10] kevinworthington opened #340 "Combining Data With Joins episode teaching and exercise times are off"
The times listed for the following episode are 15 and 10 minutes for teaching and exercise.
[sql-ecology-lesson](https://github.com/datacarpentry/sql-ecology-lesson)/[_episodes](https://github.com/datacarpentry/sql-ecology-lesson/tree/gh-pages/_episodes)/03-sql-joins.md

My guess is closer to 1-1.5 hours but I have yet to teach this

[2022-09-16 19:02] megannibbs opened #341 "Importing data and modifying tables somewhat unclear in instructions"
In preparation for taking this workshop, I tried to create a new directory and import the .csv files in DB Browser to make sure I had everything downloaded properly, but struggled to get things to work out based on just the written instructions (even though they are very thorough!). This specific section may benefit from a screen grab to help guide people through this process as they're getting us

[2022-09-19 04:46] jd-foster commented on #341
Thanks for the feedback.

If I can clarify, was the main issue that it was unclear where to find the different locations in the DB Browser GUI, corresponding to each step in the "Import" section?

If so: do you think a short video, or a series of screen grabs, would be better ?

[2022-10-04 16:47] bjbecerra opened #342 "Adding a discussion about primary and foreign keys"
Hi! I wanted to make a suggestion for the https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html Combining Data with Joins episode. In the first part of this lesson https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html , there is some mention of primary and foreign keys as necessary in relational databases. However, in the episode that is actually doing JOINs on

[2022-10-07 10:57] jd-foster commented on #342
Hi and thanks for the suggestion. You make a good point, and reading through it again I see that the concept requiring unique keys for doing a `JOIN` is made implicitly by using "ID" columns (`species_id`, `plot_id`).
A paragraph of non-implicit explanation would be welcome.

[2022-10-07 11:04] #332 closed

[2022-10-07 11:05] jd-foster commented on #332
Thanks @kekoziar for raising the issue and @novica for the PR to fix it.

[2022-10-07 14:24] kristindawn opened #343 "Add a discussion about SQL vs NoSQL?"
A key question that comes up when I teach this lesson is when you would use a relational database and SQL versus something object-oriented. Since we are moving from an object-oriented programming language to SQL, could we include a discussion of where a relational data structure would shine in comparison?

Thanks!

[2022-10-14 11:01] jd-foster commented on #343
Thanks for the question. Would you imagine something along the lines of this Wikipedia article?:

https://en.wikipedia.org/wiki/Object%E2%80%93relational_database

[2022-11-11 19:56] bbbowers opened #345 "First mention of manager in Lesson 3 joins"
Hi,

I wasn't sure the best way to go about this, so I figured I would open an issue as a discussion around it.

In lesson 3: Combining Data with Joins (https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html) there are two mentions of 'manager':

My first thought was, what manager? But looking through previous lessons I couldn't find mention of 'manager'. (I suspect this is leftovers

[2022-11-14 01:22] jd-foster commented on #345
Hi and thanks for taking the time to open this issue.
I agree with you that introducing the term 'manager' out of the blue is pretty distracting to the learner.
Your other examples are also examples of ambiguous terms, and appreciate you drawing attention to them.
My proposal is that _all_ these examples should in fact be changed to a more "active" voice from the perspective of the person writing

[2022-11-27 23:38] singlarohit opened #346 "Clause vs Command vs Keyword confusion"
I have a general but important issue to discuss. I checked all the episodes of SQL Ecology lesson, and I noticed that the term "command" , "clause" and "keyword" are used interchangeably throughout the episodes  2, 3 and 4 of the lesson. I believe that only one term (preferably "clause") must be used to avoid any confusion to the readers. Some of the examples are below:

1. In the second episode (

[2022-11-30 03:07] jd-foster commented on #346
Hi, thanks for bringing up an issue that may cause confusion for people.
I see that you've also made a PR for this (#347).

The first thing to consider is whether those three terms are interchangeable, and the second thing would be to consider whether the right term is used in each context.

On the first aspect, a "command" is commonly used in computer science to mean a whole instruction provided